Repository preludeorg/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @privateducky, @khyberspache, @lzimm

Update enterprise.md
  docs/operator/basic/enterprise.md
Owners: @privateducky, @lzimm, @khyberspache

Update enterprise.md
  docs/operator/basic/enterprise.md
Owners: @privateducky, @lzimm, @khyberspache

Update enterprise.md
  docs/operator/basic/enterprise.md
Owners: @privateducky, @lzimm, @khyberspache

Update intro.md
  docs/operator/basic/intro.md
Owners: @privateducky, @lzimm, @khyberspache

Update pneuma.md
  docs/operator/basic/pneuma.md
Owners: @privateducky, @lzimm, @khyberspache

Update professional.md
  docs/operator/basic/professional.md
Owners: @privateducky, @lzimm, @khyberspache

Update sliver.md
  docs/operator/plugins/sliver.md
Owners: @privateducky, @lzimm, @khyberspache

Update vectr.md
  docs/operator/plugins/vectr.md
Owners: @privateducky, @lzimm, @khyberspache

Update agent.md
  docs/operator/terms/agent.md
Owners: @privateducky, @lzimm, @khyberspache

Update ttp.md
  docs/operator/terms/ttp.md
Owners: @privateducky, @lzimm, @khyberspache

Update 0b044323-bf6b-4856-8d70-372942983aab.yml
  training/introduction/advanced/0b044323-bf6b-4856-8d70-372942983aab.yml
Owners: @privateducky

Update 16e97188-0b7e-4a45-90f6-1c9852573944.yml
  training/introduction/advanced/16e97188-0b7e-4a45-90f6-1c9852573944.yml
Owners: @privateducky

Update 2a729508-8410-4ea8-924d-a6ddd14fd64d.yml
  training/introduction/advanced/2a729508-8410-4ea8-924d-a6ddd14fd64d.yml
Owners: @privateducky

Update 2aac8660-191d-4617-a0b4-a02de8d19364.yml
  training/introduction/advanced/2aac8660-191d-4617-a0b4-a02de8d19364.yml
Owners: @privateducky

Update 5dcf668b-b3ad-4ee5-b595-c716baf79b2c.yml
  training/introduction/advanced/5dcf668b-b3ad-4ee5-b595-c716baf79b2c.yml
Owners: @privateducky

Update 9112f8d6-4ee1-4582-bd55-d42519cec783.yml
  training/introduction/advanced/9112f8d6-4ee1-4582-bd55-d42519cec783.yml
Owners: @privateducky

Update 2f801418-a956-43cc-8a21-504c0ce5b602.yml
  training/introduction/agents/2f801418-a956-43cc-8a21-504c0ce5b602.yml
Owners: @privateducky

Update 79c1cf88-b321-45af-a157-a245de29ddc0.yml
  training/introduction/agents/79c1cf88-b321-45af-a157-a245de29ddc0.yml
Owners: @privateducky

Update 7ad84c09-dfa9-431d-a273-908cdbacbae2.yml
  training/introduction/agents/7ad84c09-dfa9-431d-a273-908cdbacbae2.yml
Owners: @privateducky

Update 8fb4c5f2-2be1-4f54-a330-061992cc8a4f.yml
  training/introduction/agents/8fb4c5f2-2be1-4f54-a330-061992cc8a4f.yml
Owners: @privateducky

Update 9e7b2d08-21bd-4244-ab46-243d597e5d29.yml
  training/introduction/agents/9e7b2d08-21bd-4244-ab46-243d597e5d29.yml
Owners: @privateducky

Update c276c08c-2eb0-4dfe-b542-91e8409c60ab.yml
  training/introduction/agents/c276c08c-2eb0-4dfe-b542-91e8409c60ab.yml
Owners: @privateducky

Update ff6a1861-edf1-41a1-b00f-7a3d3ed58545.yml
  training/introduction/agents/ff6a1861-edf1-41a1-b00f-7a3d3ed58545.yml
Owners: @privateducky

Update 1655c859-17dd-4b53-9ae6-3e895afb8cc7.yml
  training/introduction/basic/1655c859-17dd-4b53-9ae6-3e895afb8cc7.yml
Owners: @privateducky

Update 326c369e-4672-48c1-9120-2fdd3a13d80d.yml
  training/introduction/basic/326c369e-4672-48c1-9120-2fdd3a13d80d.yml
Owners: @privateducky

Update 9a6caab1-13a1-4b44-9eb4-b4994d860863.yml
  training/introduction/basic/9a6caab1-13a1-4b44-9eb4-b4994d860863.yml
Owners: @privateducky

Update 2080e0e3-f107-418d-8a9f-773fe2d7fb04.yml
  training/introduction/orientation/2080e0e3-f107-418d-8a9f-773fe2d7fb04.yml
Owners: @privateducky

Update 50bcb70f-86c8-4b62-aa58-611831866173.yml
  training/introduction/orientation/50bcb70f-86c8-4b62-aa58-611831866173.yml
Owners: @privateducky

Update e573a081-0fc3-49b3-b039-cd72e3772a62.yml
  training/introduction/orientation/e573a081-0fc3-49b3-b039-cd72e3772a62.yml
Owners: @privateducky

Update fc7e65a1-7c08-4aec-a247-aefe15477b98.yml
  training/introduction/orientation/fc7e65a1-7c08-4aec-a247-aefe15477b98.yml
Owners: @privateducky

updating shell fact
  ttps/command-and-control/f2440a34-d2d8-41b2-b8d4-5eb468ac506c.yml
Owners: @khyberspache

updating shell fact (#418)
  ttps/command-and-control/f2440a34-d2d8-41b2-b8d4-5eb468ac506c.yml
Owners: @khyberspache

Suid Exploitation Chain
  payloads/src/payload.txt
  payloads/src/shell.c
  ttps/privilege-escalation/59110299-7a6c-4f66-a1a1-3fe755f3cd76.yml
  ttps/privilege-escalation/5ebaf652-4fcf-448c-a449-808bc9c08400.yml
  ttps/privilege-escalation/ab9f6e78-77b8-45f0-b708-0c57e92997ce.yml
  ttps/privilege-escalation/d3ec0a2e-44fd-4b32-8c02-58fd4d8009dc.yml
Owners: @khyberspache

Added Chain in YML
  ttps/privilege-escalation/59110299-7a6c-4f66-a1a1-3fe755f3cd76.yml
  ttps/privilege-escalation/5ebaf652-4fcf-448c-a449-808bc9c08400.yml
  ttps/privilege-escalation/d3ec0a2e-44fd-4b32-8c02-58fd4d8009dc.yml
  ttps/privilege-escalation/e53b67e8-5fd5-4ad6-aeee-8c6e720a715b.yml
Owners: @khyberspache

Sliver needs to initialize
  plugins/Sliver/Sliver.js
Owners: @privateducky, @lzimm

Sliver needs to initialize (#420)
  plugins/Sliver/Sliver.js
Owners: @privateducky, @lzimm

Change download target to available folder
  ttps/command-and-control/5f9001dc-e179-451f-bbd1-9fb4466d7057.yml
Owners: @khyberspache

Change download target to available folder (#421)
  ttps/command-and-control/5f9001dc-e179-451f-bbd1-9fb4466d7057.yml
Owners: @khyberspache

payload download url needs quotes for when launching VMs
  ttps/command-and-control/5f9001dc-e179-451f-bbd1-9fb4466d7057.yml
Owners: @khyberspache

Moving
  docs/operator/advanced/redirector.md
  docs/operator/basic/professional.md
Owners: @privateducky, @lzimm, @khyberspache

.github/CODEOWNERS:

/training/	@privateducky
/payloads/	@khyberspache	
/ttps/		@khyberspache
/plugins/	@privateducky @lzimm
/docs/		@privateducky @lzimm @khyberspache
