Repository preludeorg/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @privateducky, @khyberspache, @lzimm

.github/CODEOWNERS:

/training/	@privateducky
/payloads/	@khyberspache	
/ttps/		@khyberspache
/plugins/	@privateducky @lzimm
/docs/		@privateducky @lzimm @khyberspache

Difference needed for 1.5 from 1.6 (#473) (#474)
  plugins/HTTPS/HTTPS.js
  plugins/Sliver/Sliver.js
Owners: @privateducky, @lzimm

add support back for 1.6 in dev
  plugins/HTTPS/HTTPS.js
  plugins/Sliver/Sliver.js
Owners: @privateducky, @lzimm

add support back for 1.6 in dev (#475)
  plugins/HTTPS/HTTPS.js
  plugins/Sliver/Sliver.js
Owners: @privateducky, @lzimm

fix for training issue
  training/introduction/advanced/9112f8d6-4ee1-4582-bd55-d42519cec783.yml
Owners: @privateducky

fix for training issue (#476)
  training/introduction/advanced/9112f8d6-4ee1-4582-bd55-d42519cec783.yml
Owners: @privateducky

Moving training flag to production
  training/introduction/advanced/9112f8d6-4ee1-4582-bd55-d42519cec783.yml
Owners: @privateducky

Moving training flag to production (#477)
  training/introduction/advanced/9112f8d6-4ee1-4582-bd55-d42519cec783.yml
Owners: @privateducky

Adding a timeout handler for TTPs that don't respond on success
  plugins/Sliver/Sliver.js
Owners: @privateducky, @lzimm

Adding a timeout handler for TTPs that don't respond on success (#478)
  plugins/Sliver/Sliver.js
Owners: @privateducky, @lzimm

Missing clear interval call
  plugins/Sliver/Sliver.js
Owners: @privateducky, @lzimm

adding needed protos
  plugins/Sliver/Sliver.js
  plugins/Sliver/proto/clientpb/client.proto
  plugins/Sliver/proto/rpbpb/services.proto
Owners: @privateducky, @lzimm

rpc fix
  plugins/Sliver/Sliver.js
  plugins/Sliver/proto/rpcpb/services.proto
Owners: @privateducky, @lzimm

fixing missing metadata property
  plugins/Sliver/Sliver.js
Owners: @privateducky, @lzimm

Fixing necessary agent field settings
  plugins/Sliver/Sliver.js
Owners: @privateducky, @lzimm

Swapping timeout clearing order
  plugins/Sliver/Sliver.js
Owners: @privateducky, @lzimm

Program.programs does not exist, but Program.p does
  training/pink/week-2/9e5c7ba2-15f8-4bd8-b539-75204cfe7fda.yml
Owners: @privateducky

Program.programs does not exist, but Program.p does (#479)
  training/pink/week-2/9e5c7ba2-15f8-4bd8-b539-75204cfe7fda.yml
Owners: @privateducky

add in bra-kets, so we can go quantum
  docs/procedures/credential-access/7f5319fb-4dad-4269-bfcc-c07a0118b040.md
Owners: @privateducky, @lzimm, @khyberspache

Fixing bug with incorrect refrence API rendering into fetch command
  plugins/ART/ART.js
Owners: @privateducky, @lzimm

Fixing bug with incorrect refrence API rendering into fetch command (#480)
  plugins/ART/ART.js
Owners: @privateducky, @lzimm

Moving master fixes to production
  plugins/ART/ART.js
  training/pink/week-2/9e5c7ba2-15f8-4bd8-b539-75204cfe7fda.yml
Owners: @privateducky, @lzimm

Moving master fixes to production (#481)
  plugins/ART/ART.js
  training/pink/week-2/9e5c7ba2-15f8-4bd8-b539-75204cfe7fda.yml
Owners: @privateducky, @lzimm

adding a variant to starting headless
  ttps/resource-development/e22b3ca7-6181-49ca-ab14-52ff9b7f49be.yml
Owners: @khyberspache

Update 7f5319fb-4dad-4269-bfcc-c07a0118b040.md
  docs/procedures/credential-access/7f5319fb-4dad-4269-bfcc-c07a0118b040.md
Owners: @privateducky, @lzimm, @khyberspache

added documentation for credential stuffing (#469)
  docs/procedures/credential-access/7f5319fb-4dad-4269-bfcc-c07a0118b040.md
Owners: @privateducky, @lzimm, @khyberspache

dropping tags
  ttps/resource-development/e22b3ca7-6181-49ca-ab14-52ff9b7f49be.yml
Owners: @khyberspache

Making pneuma TTP use latest Pneuma version
  ttps/command-and-control/5f9001dc-e179-451f-bbd1-9fb4466d7057.yml
Owners: @khyberspache

Making pneuma TTP use latest Pneuma version (#483)
  ttps/command-and-control/5f9001dc-e179-451f-bbd1-9fb4466d7057.yml
Owners: @khyberspache

Moving pneuma TTPs to release
  ttps/command-and-control/5f9001dc-e179-451f-bbd1-9fb4466d7057.yml
Owners: @khyberspache

fixing execute-shellcode in production
  plugins/Sliver/Sliver.js
Owners: @privateducky, @lzimm

fixing sliver and https refresh port bug
  plugins/HTTPS/HTTPS.js
  plugins/Sliver/Sliver.js
Owners: @privateducky, @lzimm

fixing sliver and https refresh port bug (#485)
  plugins/HTTPS/HTTPS.js
  plugins/Sliver/Sliver.js
Owners: @privateducky, @lzimm

fixing execute-shellcode in production (#484)
  plugins/Sliver/Sliver.js
Owners: @privateducky, @lzimm

Update e22b3ca7-6181-49ca-ab14-52ff9b7f49be.yml
  ttps/resource-development/e22b3ca7-6181-49ca-ab14-52ff9b7f49be.yml
Owners: @khyberspache

adding a variant to starting headless (#482)
  ttps/resource-development/e22b3ca7-6181-49ca-ab14-52ff9b7f49be.yml
Owners: @khyberspache

add execute-shellcode docs
  docs/procedures/defense-evasion/c1f2e4ab-3f74-4d6a-a6a0-4946d0ca4a79.yml
Owners: @privateducky, @lzimm, @khyberspache

updating doc on redirectors
  docs/operator/advanced/redirector.md
  ttps/resource-development/e22b3ca7-6181-49ca-ab14-52ff9b7f49be.yml
Owners: @privateducky, @lzimm, @khyberspache

adding doc page for advanced filtering
  docs/operator/advanced/search.md
Owners: @privateducky, @lzimm, @khyberspache

adding doc page for advanced filtering
  docs/operator/advanced/search.md
Owners: @privateducky, @lzimm, @khyberspache

Update search.md
  docs/operator/advanced/search.md
Owners: @privateducky, @lzimm, @khyberspache
