Repository preludeorg/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @privateducky, @khyberspache, @lzimm

Update 8810b515-6c98-47a5-b2a2-e35597f3dcd2.md
  docs/procedures/defense-evasion/ttps/resource-development/8810b515-6c98-47a5-b2a2-e35597f3dcd2.md
Owners: @privateducky, @lzimm, @khyberspache

Operation Ghost (#400)
  docs/procedures/defense-evasion/ttps/resource-development/8810b515-6c98-47a5-b2a2-e35597f3dcd2.md
Owners: @privateducky, @lzimm, @khyberspache

a little bit of cleanup on the ART plugin (#409)
  plugins/ART/ART.js
Owners: @privateducky, @lzimm

Making variant attack TTP more understandable
  training/introduction/advanced/0b044323-bf6b-4856-8d70-372942983aab.yml
Owners: @privateducky

grammar
  training/introduction/advanced/0b044323-bf6b-4856-8d70-372942983aab.yml
Owners: @privateducky

Making variant attack TTP more understandable (#434)
  training/introduction/advanced/0b044323-bf6b-4856-8d70-372942983aab.yml
Owners: @privateducky

fixing regression with connect provisioning
  ttps/resource-development/e22b3ca7-6181-49ca-ab14-52ff9b7f49be.yml
Owners: @khyberspache

fixing regression with connect provisioning (#435)
  ttps/resource-development/e22b3ca7-6181-49ca-ab14-52ff9b7f49be.yml
Owners: @khyberspache

This will fix the formatting for the redirector docs
  docs/operator/advanced/redirector.md
Owners: @privateducky, @lzimm, @khyberspache

This will fix the formatting for the redirector docs (#436)
  docs/operator/advanced/redirector.md
Owners: @privateducky, @lzimm, @khyberspache

Fixing sliver protodownload
  plugins/Sliver/Sliver.js
Owners: @privateducky, @lzimm

docs for new links
  docs/operator/advanced/chaining.md
  docs/operator/advanced/links.md
  docs/operator/advanced/plugin.md
Owners: @privateducky, @lzimm, @khyberspache

`unique` -> `id`
  docs/operator/advanced/links.md
Owners: @privateducky, @lzimm, @khyberspache

correction
  docs/operator/advanced/links.md
Owners: @privateducky, @lzimm, @khyberspache

rename
  docs/operator/advanced/links.md
Owners: @privateducky, @lzimm, @khyberspache

Porting release TTPs back to master
  ttps/command-and-control/command_emoji_domain.yml
  ttps/discovery/1e68ef01-bdd1-4e51-b8b1-db02e935ecc3.yaml
  ttps/privilege-escalation/894a2682-9023-4956-b6fd-47200759bd2c.yml
Owners: @khyberspache

removing
  ttps/command-and-control/command_emoji_domain.yml
Owners: @khyberspache

update payload format
  payloads/src/CVE-2022-0847/dirtypipe.c
  ttps/privilege-escalation/894a2682-9023-4956-b6fd-47200759bd2c.yml
Owners: @khyberspache

removing
  payloads/src/CVE-2022-0847/dirtypipe.c
Owners: @khyberspache

Porting release TTPs back to master (#438)
  ttps/discovery/1e68ef01-bdd1-4e51-b8b1-db02e935ecc3.yaml
  ttps/privilege-escalation/894a2682-9023-4956-b6fd-47200759bd2c.yml
Owners: @khyberspache

update final project
  training/pink/final-project/5e76bb42-fced-4389-9685-7b53b05b6ddf.yml
Owners: @privateducky

update final project (#439)
  training/pink/final-project/5e76bb42-fced-4389-9685-7b53b05b6ddf.yml
Owners: @privateducky

Memexec TTP
  ttps/defense-evasion/cdbff349-9a92-4a49-8800-f401f058062d.yml
Owners: @khyberspache

wait
  ttps/defense-evasion/cdbff349-9a92-4a49-8800-f401f058062d.yml
Owners: @khyberspache

MemExec
  ttps/defense-evasion/cdbff349-9a92-4a49-8800-f401f058062d.yml
Owners: @khyberspache

Memexec TTP
  ttps/defense-evasion/cdbff349-9a92-4a49-8800-f401f058062d.yml
Owners: @khyberspache

Added the ddexec payload
  payloads/ddexec.sh
Owners: @khyberspache

fixed address
  ttps/defense-evasion/cdbff349-9a92-4a49-8800-f401f058062d.yml
Owners: @khyberspache

more updates
  docs/operator/advanced/links.md
Owners: @privateducky, @lzimm, @khyberspache

more patch
  docs/operator/advanced/links.md
Owners: @privateducky, @lzimm, @khyberspache

more nesting
  docs/operator/advanced/links.md
Owners: @privateducky, @lzimm, @khyberspache

there
  docs/operator/advanced/links.md
Owners: @privateducky, @lzimm, @khyberspache

add guids for windows
  docs/operator/advanced/links.md
Owners: @privateducky, @lzimm, @khyberspache

add docs for gost and wellmess malware
  docs/procedures/command-and-control/653d32ef-30de-40b2-adb1-b5adf7b4d39e.yml
  docs/procedures/execution/03fe8210-7e81-4a86-b667-a2c2b2ffb618.yml
  docs/procedures/resource-development/4d3aae74-318f-4860-ad5d-8930f6b586da.yml
Owners: @privateducky, @lzimm, @khyberspache

Update 47d08617-5ce1-424a-8cc5-c9c978ce6bf9.yml
  ttps/impact/47d08617-5ce1-424a-8cc5-c9c978ce6bf9.yml
Owners: @khyberspache

Update 47d08617-5ce1-424a-8cc5-c9c978ce6bf9.yml (#442)
  ttps/impact/47d08617-5ce1-424a-8cc5-c9c978ce6bf9.yml
Owners: @khyberspache

adding names for usability
  docs/operator/advanced/links.md
Owners: @privateducky, @lzimm, @khyberspache

fixing flag
  training/pink/registration/ed2e1bae-5f2f-429d-9760-4dea63d650e1.yml
  training/pink/week-3/e51816a2-1172-4eeb-916a-54845d12d265.yml
Owners: @privateducky

fixing flag (#443)
  training/pink/registration/ed2e1bae-5f2f-429d-9760-4dea63d650e1.yml
  training/pink/week-3/e51816a2-1172-4eeb-916a-54845d12d265.yml
Owners: @privateducky

updates
  training/pink/week-3/e51816a2-1172-4eeb-916a-54845d12d265.yml
Owners: @privateducky

.github/CODEOWNERS:

/training/	@privateducky
/payloads/	@khyberspache	
/ttps/		@khyberspache
/plugins/	@privateducky @lzimm
/docs/		@privateducky @lzimm @khyberspache
