Repository preludeorg/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @privateducky, @khyberspache, @lzimm

.github/CODEOWNERS:

/training/	@privateducky
/payloads/	@khyberspache	
/ttps/		@khyberspache
/plugins/	@privateducky @lzimm
/docs/		@privateducky @lzimm @khyberspache

fixing commands
  ttps/discovery/27b922c1-76ca-41c7-926f-1c36cabec122.yml
Owners: @khyberspache

deprecate operator.payloads
  ttps/credential-access/0ef4cc7b-611c-4237-b20b-db36b6906554.yml
  ttps/credential-access/b1846e2d-197f-4828-8514-c6c52f870d1a.yml
  ttps/credential-access/ccdb8caf-c69e-424b-b930-551969450c57.yml
  ttps/defense-evasion/8feb27ce-63db-472f-b8e9-038134e9d79a.yml
  ttps/execution/1ccc757b-cd16-4f62-bf06-91019a9bed44.yml
  ttps/execution/60f63260-39bb-4136-87a0-b6c2dca799fc.yml
  ttps/execution/eb814e03-811a-467a-bc6d-dcd453750fa2.yml
  ttps/persistence/83a60a83-4d0c-4559-96ca-b5f45438347b.yml
Owners: @khyberspache

grammar
  training/introduction/advanced deployment/2a729508-8410-4ea8-924d-a6ddd14fd64d.yml
  training/introduction/basic deployment/1655c859-17dd-4b53-9ae6-3e895afb8cc7.yml
  training/introduction/basic deployment/3abff28a-e1c0-498f-a273-0ab8e627d122.yml
  training/introduction/orientation/50bcb70f-86c8-4b62-aa58-611831866173.yml
Owners: @privateducky

fixing sim data for compress staged directory
  docs/procedures/collection/300157e5-f4ad-4569-b533-9d1fa0e74d74.md
  docs/procedures/exfiltration/300157e5-f4ad-4569-b533-9d1fa0e74d74.md
Owners: @privateducky, @lzimm, @khyberspache

Man page for TTP
  docs/procedures/discovery/097d1758-a646-42c1-a6f6-41ffe7c749e8.md
Owners: @privateducky, @lzimm, @khyberspache

Fixing year in training flag
  training/introduction/documentation/326c369e-4672-48c1-9120-2fdd3a13d80d.yml
Owners: @privateducky

Fixing year in training flag
  training/introduction/documentation/326c369e-4672-48c1-9120-2fdd3a13d80d.yml
Owners: @privateducky

more 1.5 documentation
  docs/operator/basic/enterprise.md
  docs/operator/basic/intro.md
  docs/operator/basic/pneuma.md
  docs/operator/basic/professional.md
Owners: @privateducky, @lzimm, @khyberspache

updates
  .gitmodules
  docs/operator/advanced/brain.md
  docs/operator/advanced/plugin.md
  docs/operator/advanced/protect.md
  docs/operator/basic/intro.md
  docs/operator/terms/chain.md
  docs/operator/terms/ttp.md
Owners: @privateducky, @lzimm, @khyberspache

updating doc page
  docs/operator/advanced/api.md
Owners: @privateducky, @lzimm, @khyberspache

first iteration
  docs/procedures/collection/02de522f-7e0a-4544-8afc-0c195f400f5f.md
  docs/procedures/collection/0ca59b4c-426d-4ad9-a962-1e686b92552c.md
  docs/procedures/collection/2897b095-3356-456f-876c-3103f91352ab.md
  docs/procedures/collection/316251ed-6a28-4013-812b-ddf5b5b007f8.md
  docs/procedures/collection/385b9f52-3b9a-4f39-b0f0-926cf7625b23.md
  docs/procedures/collection/4e97e699-93d7-4040-b5a3-2e906a58199e.md
  docs/procedures/collection/5c4b4fc6-232e-49a4-8255-8b9afe80dca8.md
  docs/procedures/collection/6469befa-748a-4b9c-a96d-f191fde47d89.md
  docs/procedures/collection/90c2efaa-8205-480d-8bb6-61d90dbaf81b.md
  docs/procedures/collection/b007fe0c-c6b0-4fda-915c-255bbc070de2.md
  docs/procedures/collection/fd27fe6c-4846-4e94-aef9-f6bc21ab0f0e.md
Owners: @privateducky, @lzimm, @khyberspache

changing folder names to one word
  training/introduction/advanced/0b044323-bf6b-4856-8d70-372942983aab.yml
  training/introduction/advanced/16e97188-0b7e-4a45-90f6-1c9852573944.yml
  training/introduction/advanced/2a729508-8410-4ea8-924d-a6ddd14fd64d.yml
  training/introduction/advanced/2aac8660-191d-4617-a0b4-a02de8d19364.yml
  training/introduction/advanced/5dcf668b-b3ad-4ee5-b595-c716baf79b2c.yml
  training/introduction/advanced/9112f8d6-4ee1-4582-bd55-d42519cec783.yml
  training/introduction/agents/2f801418-a956-43cc-8a21-504c0ce5b602.yml
  training/introduction/agents/79c1cf88-b321-45af-a157-a245de29ddc0.yml
  training/introduction/agents/7ad84c09-dfa9-431d-a273-908cdbacbae2.yml
  training/introduction/agents/8fb4c5f2-2be1-4f54-a330-061992cc8a4f.yml
  training/introduction/agents/9e7b2d08-21bd-4244-ab46-243d597e5d29.yml
  training/introduction/agents/c276c08c-2eb0-4dfe-b542-91e8409c60ab.yml
  training/introduction/agents/ff6a1861-edf1-41a1-b00f-7a3d3ed58545.yml
  training/introduction/basic/1655c859-17dd-4b53-9ae6-3e895afb8cc7.yml
  training/introduction/basic/326c369e-4672-48c1-9120-2fdd3a13d80d.yml
  training/introduction/basic/3abff28a-e1c0-498f-a273-0ab8e627d122.yml
  training/introduction/basic/9a6caab1-13a1-4b44-9eb4-b4994d860863.yml
Owners: @privateducky

C and C one
  docs/procedures/command-and-control/5f9001dc-e179-451f-bbd1-9fb4466d7057.md
Owners: @privateducky, @lzimm, @khyberspache

missing step in redirector doc
  docs/operator/advanced/redirector.md
Owners: @privateducky, @lzimm, @khyberspache

change
  docs/operator/advanced/redirector.md
Owners: @privateducky, @lzimm, @khyberspache

update
  docs/operator/advanced/redirector.md
Owners: @privateducky, @lzimm, @khyberspache

Add tag to all atomic red team procedures
  plugins/ART/ART.html
Owners: @privateducky, @lzimm

Moving ART plugin to production
  plugins/ART/ART.html
Owners: @privateducky, @lzimm

re-adding my changes
  docs/procedures/collection/02de522f-7e0a-4544-8afc-0c195f400f5f.md
  docs/procedures/collection/0ca59b4c-426d-4ad9-a962-1e686b92552c.md
  docs/procedures/collection/2897b095-3356-456f-876c-3103f91352ab.md
  docs/procedures/collection/316251ed-6a28-4013-812b-ddf5b5b007f8.md
  docs/procedures/collection/385b9f52-3b9a-4f39-b0f0-926cf7625b23.md
  docs/procedures/collection/47cd27f5-a110-48f8-9864-6a54fa5daf83.md
  docs/procedures/collection/4e97e699-93d7-4040-b5a3-2e906a58199e.md
  docs/procedures/collection/5c4b4fc6-232e-49a4-8255-8b9afe80dca8.md
  docs/procedures/collection/6469befa-748a-4b9c-a96d-f191fde47d89.md
  docs/procedures/collection/90c2efaa-8205-480d-8bb6-61d90dbaf81b.md
  docs/procedures/collection/b007fe0c-c6b0-4fda-915c-255bbc070de2.md
  docs/procedures/collection/fd27fe6c-4846-4e94-aef9-f6bc21ab0f0e.md
  docs/procedures/command-and-control/5f9001dc-e179-451f-bbd1-9fb4466d7057.md
  docs/procedures/exfiltration/300157e5-f4ad-4569-b533-9d1fa0e74d74.md
Owners: @privateducky, @lzimm, @khyberspache

new TTPs for installing agents
  ttps/command-and-control/5f9001dc-e179-451f-bbd1-9fb4466d7057.yml
  ttps/resource-development/e22b3ca7-6181-49ca-ab14-52ff9b7f49be.yml
Owners: @khyberspache

new TTPs for installing agents
  ttps/resource-development/e22b3ca7-6181-49ca-ab14-52ff9b7f49be.yml
Owners: @khyberspache

updates
  ttps/command-and-control/5f9001dc-e179-451f-bbd1-9fb4466d7057.yml
Owners: @khyberspache

updates
  ttps/command-and-control/5f9001dc-e179-451f-bbd1-9fb4466d7057.yml
  ttps/resource-development/e22b3ca7-6181-49ca-ab14-52ff9b7f49be.yml
Owners: @khyberspache

Adding simulation mode information
  docs/operator/terms/agent.md
Owners: @privateducky, @lzimm, @khyberspache

third try
  training/introduction/advanced/0b044323-bf6b-4856-8d70-372942983aab.yml
  training/introduction/advanced/16e97188-0b7e-4a45-90f6-1c9852573944.yml
  training/introduction/advanced/2a729508-8410-4ea8-924d-a6ddd14fd64d.yml
  training/introduction/advanced/2aac8660-191d-4617-a0b4-a02de8d19364.yml
  training/introduction/advanced/5dcf668b-b3ad-4ee5-b595-c716baf79b2c.yml
  training/introduction/advanced/9112f8d6-4ee1-4582-bd55-d42519cec783.yml
  training/introduction/agents/2f801418-a956-43cc-8a21-504c0ce5b602.yml
  training/introduction/agents/79c1cf88-b321-45af-a157-a245de29ddc0.yml
  training/introduction/agents/7ad84c09-dfa9-431d-a273-908cdbacbae2.yml
  training/introduction/agents/8fb4c5f2-2be1-4f54-a330-061992cc8a4f.yml
  training/introduction/agents/9e7b2d08-21bd-4244-ab46-243d597e5d29.yml
  training/introduction/agents/c276c08c-2eb0-4dfe-b542-91e8409c60ab.yml
  training/introduction/agents/ff6a1861-edf1-41a1-b00f-7a3d3ed58545.yml
  training/introduction/basic/1655c859-17dd-4b53-9ae6-3e895afb8cc7.yml
  training/introduction/basic/326c369e-4672-48c1-9120-2fdd3a13d80d.yml
  training/introduction/basic/3abff28a-e1c0-498f-a273-0ab8e627d122.yml
  training/introduction/basic/9a6caab1-13a1-4b44-9eb4-b4994d860863.yml
  training/introduction/config.yml
  training/introduction/documentation/e1d51b67-e9bb-483f-b4f1-2ca5b24706ad.yml
  training/introduction/editor/c8bfb952-828a-4331-8395-13fee2faf47d.yml
  training/introduction/editor/e5a1622e-2e12-4f5a-9908-823af1642c08.yml
  training/introduction/orientation/00000000-0000-0000-0000-000000000001.yml
  training/introduction/orientation/2080e0e3-f107-418d-8a9f-773fe2d7fb04.yml
  training/introduction/orientation/29560d69-8ccb-45b4-a4ca-06b2b14fae02.yml
  training/introduction/orientation/50bcb70f-86c8-4b62-aa58-611831866173.yml
  training/introduction/orientation/be82d7a7-bb60-47a0-834d-655318c08369.yml
  training/introduction/orientation/e573a081-0fc3-49b3-b039-cd72e3772a62.yml
  training/introduction/orientation/fc7e65a1-7c08-4aec-a247-aefe15477b98.yml
  training/introduction/training/4577e522-ad3b-44c0-bdd7-462660d98646.yml
  training/introduction/training/daddd488-7098-4b10-bdb4-bcac861b6680.yml
Owners: @privateducky

updating TTPs
  ttps/command-and-control/5f9001dc-e179-451f-bbd1-9fb4466d7057.yml
  ttps/resource-development/e22b3ca7-6181-49ca-ab14-52ff9b7f49be.yml
Owners: @khyberspache

added documentation
  docs/operator/advanced/api.md
Owners: @privateducky, @lzimm, @khyberspache

fixed changes
  docs/operator/advanced/api.md
Owners: @privateducky, @lzimm, @khyberspache

Fix pro docs and small change in redirector doc
  docs/operator/advanced/redirector.md
  docs/operator/basic/professional.md
Owners: @privateducky, @lzimm, @khyberspache

Update api.md
  docs/operator/advanced/api.md
Owners: @privateducky, @lzimm, @khyberspache

Update api.md
  docs/operator/advanced/api.md
Owners: @privateducky, @lzimm, @khyberspache

Update 097d1758-a646-42c1-a6f6-41ffe7c749e8.md
  docs/procedures/discovery/097d1758-a646-42c1-a6f6-41ffe7c749e8.md
Owners: @privateducky, @lzimm, @khyberspache

adjusting training flags
  training/introduction/advanced/0b044323-bf6b-4856-8d70-372942983aab.yml
  training/introduction/advanced/16e97188-0b7e-4a45-90f6-1c9852573944.yml
  training/introduction/advanced/2a729508-8410-4ea8-924d-a6ddd14fd64d.yml
  training/introduction/advanced/2aac8660-191d-4617-a0b4-a02de8d19364.yml
  training/introduction/advanced/5dcf668b-b3ad-4ee5-b595-c716baf79b2c.yml
  training/introduction/advanced/9112f8d6-4ee1-4582-bd55-d42519cec783.yml
  training/introduction/agents/2f801418-a956-43cc-8a21-504c0ce5b602.yml
  training/introduction/agents/79c1cf88-b321-45af-a157-a245de29ddc0.yml
  training/introduction/agents/7ad84c09-dfa9-431d-a273-908cdbacbae2.yml
  training/introduction/agents/8fb4c5f2-2be1-4f54-a330-061992cc8a4f.yml
  training/introduction/agents/9e7b2d08-21bd-4244-ab46-243d597e5d29.yml
  training/introduction/agents/c276c08c-2eb0-4dfe-b542-91e8409c60ab.yml
  training/introduction/agents/ff6a1861-edf1-41a1-b00f-7a3d3ed58545.yml
  training/introduction/basic/1655c859-17dd-4b53-9ae6-3e895afb8cc7.yml
  training/introduction/basic/326c369e-4672-48c1-9120-2fdd3a13d80d.yml
  training/introduction/basic/3abff28a-e1c0-498f-a273-0ab8e627d122.yml
  training/introduction/basic/9a6caab1-13a1-4b44-9eb4-b4994d860863.yml
  training/introduction/orientation/00000000-0000-0000-0000-000000000001.yml
  training/introduction/orientation/2080e0e3-f107-418d-8a9f-773fe2d7fb04.yml
  training/introduction/orientation/29560d69-8ccb-45b4-a4ca-06b2b14fae02.yml
  training/introduction/orientation/50bcb70f-86c8-4b62-aa58-611831866173.yml
  training/introduction/orientation/e573a081-0fc3-49b3-b039-cd72e3772a62.yml
  training/introduction/orientation/fc7e65a1-7c08-4aec-a247-aefe15477b98.yml
  training/pink/week-1/2f70a23f-b2d0-4942-b1e9-9a7176895119.yml
  training/pink/week-1/83a3ca9e-6e32-4c67-b2f6-1a38970db09a.yml
  training/pink/week-1/c42b9ff5-20b9-45c7-9289-ec7c4aee6fd8.yml
  training/pink/week-1/cceab224-9179-4e02-b7cd-96fe2f1bb001.yml
  training/pink/week-1/f437e5f4-669f-4d71-87cb-517d6266d8eb.yml
  training/pink/week-3/5b94b4df-6fcd-45c8-9c32-01599a2a1d44.yml
  training/pink/week-3/d263aa1d-12ec-40f2-9166-fbf80fe1ed4a.yml
  training/pink/week-3/e51816a2-1172-4eeb-916a-54845d12d265.yml
Owners: @privateducky

Fixing hostname for darwin and linux
  ttps/command-and-control/5f9001dc-e179-451f-bbd1-9fb4466d7057.yml
Owners: @khyberspache

updating state flag
  training/introduction/agents/9e7b2d08-21bd-4244-ab46-243d597e5d29.yml
Owners: @privateducky

Updates to training
  training/introduction/advanced/0b044323-bf6b-4856-8d70-372942983aab.yml
  training/introduction/advanced/16e97188-0b7e-4a45-90f6-1c9852573944.yml
  training/introduction/advanced/2a729508-8410-4ea8-924d-a6ddd14fd64d.yml
  training/introduction/advanced/2aac8660-191d-4617-a0b4-a02de8d19364.yml
  training/introduction/advanced/9112f8d6-4ee1-4582-bd55-d42519cec783.yml
  training/introduction/agents/2f801418-a956-43cc-8a21-504c0ce5b602.yml
  training/introduction/agents/9e7b2d08-21bd-4244-ab46-243d597e5d29.yml
  training/introduction/basic/1655c859-17dd-4b53-9ae6-3e895afb8cc7.yml
  training/introduction/basic/9a6caab1-13a1-4b44-9eb4-b4994d860863.yml
  training/introduction/orientation/29560d69-8ccb-45b4-a4ca-06b2b14fae02.yml
  training/introduction/orientation/50bcb70f-86c8-4b62-aa58-611831866173.yml
  training/introduction/orientation/be82d7a7-bb60-47a0-834d-655318c08369.yml
  training/introduction/orientation/fc7e65a1-7c08-4aec-a247-aefe15477b98.yml
Owners: @privateducky

verification fix for chain subscription flag
  training/introduction/orientation/e573a081-0fc3-49b3-b039-cd72e3772a62.yml
Owners: @privateducky

zero
  training/introduction/orientation/e573a081-0fc3-49b3-b039-cd72e3772a62.yml
Owners: @privateducky

Fixing hostname rendering in pneuma command
  ttps/command-and-control/5f9001dc-e179-451f-bbd1-9fb4466d7057.yml
Owners: @khyberspache

old check didnt work
  training/introduction/orientation/e573a081-0fc3-49b3-b039-cd72e3772a62.yml
Owners: @privateducky
