Repository preludeorg/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @privateducky, @khyberspache, @lzimm

updating func name
  plugins/ART/ART.html
  plugins/Connect/Connect.html
  plugins/Editor/Editor.html
  plugins/Navigator/Navigator.html
  plugins/Toolbox/Toolbox.html
Owners: @privateducky, @lzimm

revert add
  plugins/Connect/Connect.html
  plugins/Editor/Editor.html
Owners: @privateducky, @lzimm

revert
  plugins/Connect/Connect.html
  plugins/Editor/Editor.html
Owners: @privateducky, @lzimm

removing plugins submodule
  .gitmodules
Owners: none

adding back submodule
  .gitmodules
Owners: none

Removed submodule
  .gitmodules
Owners: none

re-adding submodule
  .gitmodules
Owners: none

Adding correct branch pinning
  .gitmodules
Owners: none

Point release branch to correct submodule branch
  .gitmodules
Owners: none

making sure my outpost is tracking this branch
  test_file.test
Owners: none

making sure my outpost is tracking this branch.
  test_file.test
Owners: none

checking...
  payloads/src/test_file.test
Owners: @khyberspache

added the technique to the conf file
  payloads/config.yml
Owners: @khyberspache

Fix for recommended training flag
  training/introduction/editor/e5a1622e-2e12-4f5a-9908-823af1642c08.yml
Owners: @privateducky

Update .gitmodules
  .gitmodules
Owners: none

removed technique for plugins
  payloads/config.yml
Owners: @khyberspache

Creating a documentation truth source structure
  docs/operator/agent.md
  docs/operator/api.md
  docs/operator/brain.md
  docs/operator/chain.md
  docs/operator/connect.md
  docs/operator/enterprise.md
  docs/operator/intro.md
  docs/operator/linking.md
  docs/operator/plugin.md
  docs/operator/pneuma.md
  docs/operator/professional.md
  docs/operator/protect.md
  docs/operator/ttp.md
Owners: none

Shuffle into correct section folders
  docs/operator/advanced/api.md
  docs/operator/advanced/brain.md
  docs/operator/advanced/connect.md
  docs/operator/advanced/linking.md
  docs/operator/advanced/plugin.md
  docs/operator/advanced/protect.md
  docs/operator/basic/enterprise.md
  docs/operator/basic/intro.md
  docs/operator/basic/pneuma.md
  docs/operator/basic/professional.md
  docs/operator/terms/agent.md
  docs/operator/terms/chain.md
  docs/operator/terms/ttp.md
Owners: none

Updates to make regex easier
  docs/operator/advanced/api.md
  docs/operator/advanced/protect.md
  docs/operator/basic/intro.md
  docs/operator/basic/pneuma.md
  docs/operator/basic/professional.md
  docs/operator/terms/agent.md
Owners: none

Removing Navigator plugin
  plugins/Navigator/Navigator.html
  plugins/Navigator/config.yml
  plugins/Navigator/template.json
Owners: @privateducky, @lzimm

Added Detailed Purposes Aligning with Techniques
  payloads/config.yml
Owners: @khyberspache

removed test file
  payloads/src/test_file.test
Owners: @khyberspache

Docs for setting up manual redirector
  docs/operator/advanced/redirector.md
Owners: none

dropping more plugins
  plugins/ART/ART.html
  plugins/ART/config.yml
  plugins/Toolbox/Toolbox.html
  plugins/Toolbox/config.yml
Owners: @privateducky, @lzimm

removing converter
  docs/converter.py
Owners: none

.github/CODEOWNERS:

/training/	@privateducky
/payloads/	@khyberspache	
/ttps/		@khyberspache
/plugins/	@privateducky @lzimm
