Repository preludeorg/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @privateducky, @khyberspache, @lzimm

Adding configuration value
  plugins/Sliver/config.yml
Owners: @privateducky, @lzimm

updating endpoint docs
  docs/operator/advanced/api.md
Owners: @privateducky, @lzimm, @khyberspache

updating endpoint docs (#374)
  docs/operator/advanced/api.md
Owners: @privateducky, @lzimm, @khyberspache

Adding default mtls_port
  plugins/Sliver/config.yml
Owners: @privateducky, @lzimm

Final Project new PR (#367)
  training/pink/final-project/5e76bb42-fced-4389-9685-7b53b05b6ddf.yml
Owners: @privateducky

finalProject for release
  training/pink/final-project/5e76bb42-fced-4389-9685-7b53b05b6ddf.yml
Owners: @privateducky

finalProject for release (#375)
  training/pink/final-project/5e76bb42-fced-4389-9685-7b53b05b6ddf.yml
Owners: @privateducky

add apt29 dnc docs
  docs/procedures/execution/bf3bcab0-0e51-4647-ae1c-5eb57e916c20.md
  docs/procedures/persistence/1afd8c08-d31f-4589-8ec9-868ffabb6610.md
Owners: @privateducky, @lzimm, @khyberspache

[1.5] Adding a Vectr API auto-publisher (#355)
  plugins/Vectr/Vectr.js
  plugins/Vectr/config.yml
Owners: @privateducky, @lzimm

pull files from https
  plugins/Sliver/Sliver.js
Owners: @privateducky, @lzimm

updates
  docs/operator/plugins/sliver.md
  plugins/Sliver/Sliver.js
Owners: @privateducky, @lzimm, @khyberspache

Update sliver.md
  docs/operator/plugins/sliver.md
Owners: @privateducky, @lzimm, @khyberspache

adding connect plugin
  plugins/Connect/Connect.js
  plugins/Connect/config.yml
Owners: @privateducky, @lzimm

connect is native
  plugins/Connect/config.yml
Owners: @privateducky, @lzimm

change validation value
  training/pink/final-project/5e76bb42-fced-4389-9685-7b53b05b6ddf.yml
Owners: @privateducky

change validation value (#377)
  training/pink/final-project/5e76bb42-fced-4389-9685-7b53b05b6ddf.yml
Owners: @privateducky

final Project fix
  training/pink/final-project/5e76bb42-fced-4389-9685-7b53b05b6ddf.yml
Owners: @privateducky

final Project fix (#378)
  training/pink/final-project/5e76bb42-fced-4389-9685-7b53b05b6ddf.yml
Owners: @privateducky

Add TTPs to use the Sliver features
  ttps/credential-access/6ef19cb1-f8e5-4cdb-b3f1-98953174375f.yml
  ttps/discovery/00010203-0405-0607-0809-0a0b0c0d0e0f.yml
  ttps/discovery/44f36223-767e-4b93-bdee-eef03d244f98.yml
  ttps/discovery/b6f545ef-f802-4537-b59d-2cb19831c8ed.yml
Owners: @khyberspache

more info
  ttps/credential-access/6ef19cb1-f8e5-4cdb-b3f1-98953174375f.yml
Owners: @khyberspache

really
  training/pink/final-project/5e76bb42-fced-4389-9685-7b53b05b6ddf.yml
Owners: @privateducky

really (#379)
  training/pink/final-project/5e76bb42-fced-4389-9685-7b53b05b6ddf.yml
Owners: @privateducky

Fix
  training/pink/final-project/5e76bb42-fced-4389-9685-7b53b05b6ddf.yml
Owners: @privateducky

Fix (#380)
  training/pink/final-project/5e76bb42-fced-4389-9685-7b53b05b6ddf.yml
Owners: @privateducky

Update 71f0de84-80e5-49ff-8b20-a36e735cd69f.md
  docs/procedures/initial-access/71f0de84-80e5-49ff-8b20-a36e735cd69f.md
Owners: @privateducky, @lzimm, @khyberspache

Update 7ae93aeb-8bfd-4633-a3a9-1ec6bc393f9f.md
  docs/procedures/resource-development/7ae93aeb-8bfd-4633-a3a9-1ec6bc393f9f.md
Owners: @privateducky, @lzimm, @khyberspache

Docs/goldilocks (#368)
  docs/procedures/initial-access/71f0de84-80e5-49ff-8b20-a36e735cd69f.md
  docs/procedures/resource-development/7ae93aeb-8bfd-4633-a3a9-1ec6bc393f9f.md
Owners: @privateducky, @lzimm, @khyberspache

Update bf3bcab0-0e51-4647-ae1c-5eb57e916c20.md
  docs/procedures/execution/bf3bcab0-0e51-4647-ae1c-5eb57e916c20.md
Owners: @privateducky, @lzimm, @khyberspache

Update 1afd8c08-d31f-4589-8ec9-868ffabb6610.md
  docs/procedures/persistence/1afd8c08-d31f-4589-8ec9-868ffabb6610.md
Owners: @privateducky, @lzimm, @khyberspache

add apt29 dnc docs (#376)
  docs/procedures/execution/bf3bcab0-0e51-4647-ae1c-5eb57e916c20.md
  docs/procedures/persistence/1afd8c08-d31f-4589-8ec9-868ffabb6610.md
Owners: @privateducky, @lzimm, @khyberspache

Systems: Changing login to portal for HQ
  docs/operator/advanced/protect.md
  docs/operator/basic/enterprise.md
  docs/operator/basic/professional.md
  training/pink/registration/ed2e1bae-5f2f-429d-9760-4dea63d650e1.yml
  training/pink/week-3/e51816a2-1172-4eeb-916a-54845d12d265.yml
Owners: @privateducky, @lzimm, @khyberspache

fix bug in new tasks being chained
  plugins/Sliver/Sliver.js
Owners: @privateducky, @lzimm

Error logging
  plugins/Sliver/Sliver.js
Owners: @privateducky, @lzimm

Sliver mTLS listener plugin (#372)
  docs/operator/plugins/sliver.md
  plugins/Sliver/Sliver.js
  plugins/Sliver/config.yml
  plugins/Sliver/proto/commonpb/common.proto
  plugins/Sliver/proto/sliverpb/sliver.proto
  ttps/credential-access/6ef19cb1-f8e5-4cdb-b3f1-98953174375f.yml
  ttps/discovery/00010203-0405-0607-0809-0a0b0c0d0e0f.yml
  ttps/discovery/44f36223-767e-4b93-bdee-eef03d244f98.yml
  ttps/discovery/b6f545ef-f802-4537-b59d-2cb19831c8ed.yml
Owners: @privateducky, @lzimm, @khyberspache

throw error instead of rejecting promise
  plugins/Sliver/Sliver.js
Owners: @privateducky, @lzimm

throw error instead of rejecting promise (#382)
  plugins/Sliver/Sliver.js
Owners: @privateducky, @lzimm

Swap default port to 8080
  plugins/Sliver/Sliver.js
Owners: @privateducky, @lzimm

Adding BOF support with Sliver plugin
  plugins/Sliver/Sliver.js
  ttps/command-and-control/06543a80-1b92-4281-ac8d-cb59f6c708a4.yml
  ttps/discovery/0f84eff4-f698-47cd-820f-2230471accfe.yml
  ttps/discovery/85341c8c-4ecb-4579-8f53-43e3e91d7617.yml
Owners: @privateducky, @lzimm, @khyberspache

remove debug
  plugins/Sliver/Sliver.js
Owners: @privateducky, @lzimm

Adding BOF support with Sliver plugin (#383)
  plugins/Sliver/Sliver.js
  ttps/command-and-control/06543a80-1b92-4281-ac8d-cb59f6c708a4.yml
  ttps/discovery/0f84eff4-f698-47cd-820f-2230471accfe.yml
  ttps/discovery/85341c8c-4ecb-4579-8f53-43e3e91d7617.yml
Owners: @privateducky, @lzimm, @khyberspache

.github/CODEOWNERS:

/training/	@privateducky
/payloads/	@khyberspache	
/ttps/		@khyberspache
/plugins/	@privateducky @lzimm
/docs/		@privateducky @lzimm @khyberspache
