Repository preludeorg/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @privateducky, @khyberspache, @lzimm

.github/CODEOWNERS:

/training/	@privateducky
/payloads/	@khyberspache	
/ttps/		@khyberspache
/plugins/	@privateducky @lzimm
/docs/		@privateducky @lzimm @khyberspache

updates
  training/introduction/core/a51a9dfb-c23e-4bea-8b98-fe1e22690592.yml
  training/introduction/core/bba24f1c-eeac-4ba7-99b7-677af945ca90.yml
  training/introduction/core/c222c564-f61b-443a-9e9b-08ca7d585fc6.yml
  training/introduction/core/d60a36e3-9256-4722-9f3e-157cfd17ff57.yml
  training/introduction/core/e4d1529b-fd18-429c-ad6b-abbaa9b644f2.yml
  training/introduction/core/f6f864a9-45ba-489e-aab0-a2c435e059a3.yml
  training/introduction/core/ga095b52-db71-4c53-936d-80b64cf66495.yml
  training/introduction/core/h7b55abe-ca34-40eb-96a7-30d52faffbd1.yml
  training/introduction/core/icf003b9-1db4-4d63-8897-efdc3d12f592.yml
  training/introduction/core/jaca7e81-3855-452e-91b0-997fd42ead4b.yml
Owners: @privateducky

update
  training/introduction/config.yml
Owners: @privateducky

bump 1.7 (#523)
  ttps/command-and-control/5f9001dc-e179-451f-bbd1-9fb4466d7057.yml
Owners: @khyberspache

updates
  training/introduction/core/bba24f1c-eeac-4ba7-99b7-677af945ca90.yml
  training/introduction/core/d60a36e3-9256-4722-9f3e-157cfd17ff57.yml
  training/introduction/core/e4d1529b-fd18-429c-ad6b-abbaa9b644f2.yml
  training/introduction/core/ga095b52-db71-4c53-936d-80b64cf66495.yml
Owners: @privateducky

update
  training/introduction/core/bba24f1c-eeac-4ba7-99b7-677af945ca90.yml
  training/introduction/core/c222c564-f61b-443a-9e9b-08ca7d585fc6.yml
Owners: @privateducky

update docs url
  training/introduction/core/a51a9dfb-c23e-4bea-8b98-fe1e22690592.yml
  training/introduction/core/bba24f1c-eeac-4ba7-99b7-677af945ca90.yml
  training/introduction/core/h7b55abe-ca34-40eb-96a7-30d52faffbd1.yml
  training/introduction/core/icf003b9-1db4-4d63-8897-efdc3d12f592.yml
Owners: @privateducky

wrong link fix
  chains/e8200002-22d9-4394-b73e-e0f5b74e1382.yml
Owners: none

wrong link fix (#526)
  chains/e8200002-22d9-4394-b73e-e0f5b74e1382.yml
Owners: none

wrong link fix (#526)
  chains/e8200002-22d9-4394-b73e-e0f5b74e1382.yml
Owners: none

wrong link fix (#526) (#527)
  chains/e8200002-22d9-4394-b73e-e0f5b74e1382.yml
Owners: none

Add core training module (#525)
  training/introduction/config.yml
  training/introduction/core/a51a9dfb-c23e-4bea-8b98-fe1e22690592.yml
  training/introduction/core/bba24f1c-eeac-4ba7-99b7-677af945ca90.yml
  training/introduction/core/d60a36e3-9256-4722-9f3e-157cfd17ff57.yml
  training/introduction/core/e4d1529b-fd18-429c-ad6b-abbaa9b644f2.yml
  training/introduction/core/f6f864a9-45ba-489e-aab0-a2c435e059a3.yml
  training/introduction/core/ga095b52-db71-4c53-936d-80b64cf66495.yml
  training/introduction/core/h7b55abe-ca34-40eb-96a7-30d52faffbd1.yml
  training/introduction/core/icf003b9-1db4-4d63-8897-efdc3d12f592.yml
  training/introduction/core/jaca7e81-3855-452e-91b0-997fd42ead4b.yml
Owners: @privateducky

fixing typo
  docs/operator/terms/agent.md
Owners: @privateducky, @lzimm, @khyberspache

fixing typo (#528)
  docs/operator/terms/agent.md
Owners: @privateducky, @lzimm, @khyberspache

we also need to unset the content type header?
  docs/operator/terms/agent.md
Owners: @privateducky, @lzimm, @khyberspache

we also need to unset the content type header? (#529)
  docs/operator/terms/agent.md
Owners: @privateducky, @lzimm, @khyberspache

CVE-2022-23222 TTP, chain, and payload
  chains/d471d1b5-61de-4822-9340-722bbe806336.yml
  payloads/71bcc14459736dc020365c8265273b5946e67d1a/cve_2022_23222
  ttps/privilege-escalation/98a66759-75b7-4c98-8b5c-8b0e024ab8db.yml
Owners: @khyberspache

new headless (DEV only)
  ttps/resource-development/e22b3ca7-6181-49ca-ab14-52ff9b7f49be.yml
Owners: @khyberspache

new headless (DEV only) (#531)
  ttps/resource-development/e22b3ca7-6181-49ca-ab14-52ff9b7f49be.yml
Owners: @khyberspache

new headless
  ttps/resource-development/e22b3ca7-6181-49ca-ab14-52ff9b7f49be.yml
Owners: @khyberspache

new headless (#532)
  ttps/resource-development/e22b3ca7-6181-49ca-ab14-52ff9b7f49be.yml
Owners: @khyberspache

Releasing 1.7 for Production
  docs/operator/advanced/api.md
  docs/operator/terms/agent.md
  training/introduction/config.yml
  training/introduction/core/a51a9dfb-c23e-4bea-8b98-fe1e22690592.yml
  training/introduction/core/bba24f1c-eeac-4ba7-99b7-677af945ca90.yml
  training/introduction/core/d60a36e3-9256-4722-9f3e-157cfd17ff57.yml
  training/introduction/core/e4d1529b-fd18-429c-ad6b-abbaa9b644f2.yml
  training/introduction/core/f6f864a9-45ba-489e-aab0-a2c435e059a3.yml
  training/introduction/core/ga095b52-db71-4c53-936d-80b64cf66495.yml
  training/introduction/core/h7b55abe-ca34-40eb-96a7-30d52faffbd1.yml
  training/introduction/core/icf003b9-1db4-4d63-8897-efdc3d12f592.yml
  training/introduction/core/jaca7e81-3855-452e-91b0-997fd42ead4b.yml
  training/introduction/orientation/e573a081-0fc3-49b3-b039-cd72e3772a62.yml
  ttps/command-and-control/5f9001dc-e179-451f-bbd1-9fb4466d7057.yml
  ttps/resource-development/e22b3ca7-6181-49ca-ab14-52ff9b7f49be.yml
Owners: @privateducky, @lzimm, @khyberspache

Releasing 1.7 for Production (#533)
  docs/operator/advanced/api.md
  docs/operator/terms/agent.md
  training/introduction/config.yml
  training/introduction/core/a51a9dfb-c23e-4bea-8b98-fe1e22690592.yml
  training/introduction/core/bba24f1c-eeac-4ba7-99b7-677af945ca90.yml
  training/introduction/core/d60a36e3-9256-4722-9f3e-157cfd17ff57.yml
  training/introduction/core/e4d1529b-fd18-429c-ad6b-abbaa9b644f2.yml
  training/introduction/core/f6f864a9-45ba-489e-aab0-a2c435e059a3.yml
  training/introduction/core/ga095b52-db71-4c53-936d-80b64cf66495.yml
  training/introduction/core/h7b55abe-ca34-40eb-96a7-30d52faffbd1.yml
  training/introduction/core/icf003b9-1db4-4d63-8897-efdc3d12f592.yml
  training/introduction/core/jaca7e81-3855-452e-91b0-997fd42ead4b.yml
  training/introduction/orientation/e573a081-0fc3-49b3-b039-cd72e3772a62.yml
  ttps/command-and-control/5f9001dc-e179-451f-bbd1-9fb4466d7057.yml
  ttps/resource-development/e22b3ca7-6181-49ca-ab14-52ff9b7f49be.yml
Owners: @privateducky, @lzimm, @khyberspache

remove old training
  training/introduction/advanced/0b044323-bf6b-4856-8d70-372942983aab.yml
  training/introduction/advanced/16e97188-0b7e-4a45-90f6-1c9852573944.yml
  training/introduction/advanced/2aac8660-191d-4617-a0b4-a02de8d19364.yml
  training/introduction/advanced/5dcf668b-b3ad-4ee5-b595-c716baf79b2c.yml
  training/introduction/advanced/9112f8d6-4ee1-4582-bd55-d42519cec783.yml
  training/introduction/agents/2f801418-a956-43cc-8a21-504c0ce5b602.yml
  training/introduction/agents/79c1cf88-b321-45af-a157-a245de29ddc0.yml
  training/introduction/agents/7ad84c09-dfa9-431d-a273-908cdbacbae2.yml
  training/introduction/agents/8fb4c5f2-2be1-4f54-a330-061992cc8a4f.yml
  training/introduction/agents/c276c08c-2eb0-4dfe-b542-91e8409c60ab.yml
  training/introduction/agents/ff6a1861-edf1-41a1-b00f-7a3d3ed58545.yml
  training/introduction/basic/1655c859-17dd-4b53-9ae6-3e895afb8cc7.yml
  training/introduction/basic/326c369e-4672-48c1-9120-2fdd3a13d80d.yml
  training/introduction/basic/3abff28a-e1c0-498f-a273-0ab8e627d122.yml
  training/introduction/basic/9a6caab1-13a1-4b44-9eb4-b4994d860863.yml
  training/introduction/config.yml
  training/introduction/orientation/00000000-0000-0000-0000-000000000001.yml
  training/introduction/orientation/2080e0e3-f107-418d-8a9f-773fe2d7fb04.yml
  training/introduction/orientation/29560d69-8ccb-45b4-a4ca-06b2b14fae02.yml
  training/introduction/orientation/50bcb70f-86c8-4b62-aa58-611831866173.yml
  training/introduction/orientation/be82d7a7-bb60-47a0-834d-655318c08369.yml
  training/introduction/orientation/e573a081-0fc3-49b3-b039-cd72e3772a62.yml
  training/introduction/orientation/fc7e65a1-7c08-4aec-a247-aefe15477b98.yml
Owners: @privateducky

remove old training (#535)
  training/introduction/advanced/0b044323-bf6b-4856-8d70-372942983aab.yml
  training/introduction/advanced/16e97188-0b7e-4a45-90f6-1c9852573944.yml
  training/introduction/advanced/2aac8660-191d-4617-a0b4-a02de8d19364.yml
  training/introduction/advanced/5dcf668b-b3ad-4ee5-b595-c716baf79b2c.yml
  training/introduction/advanced/9112f8d6-4ee1-4582-bd55-d42519cec783.yml
  training/introduction/agents/2f801418-a956-43cc-8a21-504c0ce5b602.yml
  training/introduction/agents/79c1cf88-b321-45af-a157-a245de29ddc0.yml
  training/introduction/agents/7ad84c09-dfa9-431d-a273-908cdbacbae2.yml
  training/introduction/agents/8fb4c5f2-2be1-4f54-a330-061992cc8a4f.yml
  training/introduction/agents/c276c08c-2eb0-4dfe-b542-91e8409c60ab.yml
  training/introduction/agents/ff6a1861-edf1-41a1-b00f-7a3d3ed58545.yml
  training/introduction/basic/1655c859-17dd-4b53-9ae6-3e895afb8cc7.yml
  training/introduction/basic/326c369e-4672-48c1-9120-2fdd3a13d80d.yml
  training/introduction/basic/3abff28a-e1c0-498f-a273-0ab8e627d122.yml
  training/introduction/basic/9a6caab1-13a1-4b44-9eb4-b4994d860863.yml
  training/introduction/config.yml
  training/introduction/orientation/00000000-0000-0000-0000-000000000001.yml
  training/introduction/orientation/2080e0e3-f107-418d-8a9f-773fe2d7fb04.yml
  training/introduction/orientation/29560d69-8ccb-45b4-a4ca-06b2b14fae02.yml
  training/introduction/orientation/50bcb70f-86c8-4b62-aa58-611831866173.yml
  training/introduction/orientation/be82d7a7-bb60-47a0-834d-655318c08369.yml
  training/introduction/orientation/e573a081-0fc3-49b3-b039-cd72e3772a62.yml
  training/introduction/orientation/fc7e65a1-7c08-4aec-a247-aefe15477b98.yml
Owners: @privateducky

correct file name
  training/introduction/core/f6f864a9-45ba-489e-aab0-a2c435e059a3.yml
Owners: @privateducky

correct file name (#536)
  training/introduction/core/f6f864a9-45ba-489e-aab0-a2c435e059a3.yml
Owners: @privateducky

update hash
  payloads/71bcc14459736dc020365c8265273b5946e67d1a/cve_2022_23222
Owners: @khyberspache

Delete d471d1b5-61de-4822-9340-722bbe806336.yml
  chains/d471d1b5-61de-4822-9340-722bbe806336.yml
Owners: none

Add CVE-2022-23222 (#530)
  payloads/71bcc14459736dc020365c8265273b5946e67d1a/cve_2022_23222
  ttps/privilege-escalation/98a66759-75b7-4c98-8b5c-8b0e024ab8db.yml
Owners: @khyberspache

Remove payload from this repo
  payloads/71bcc14459736dc020365c8265273b5946e67d1a/cve_2022_23222
Owners: @khyberspache

Remove payload from this repo (#537)
  payloads/71bcc14459736dc020365c8265273b5946e67d1a/cve_2022_23222
Owners: @khyberspache

pass challenge if ttp has run more than one time too
  training/introduction/core/bba24f1c-eeac-4ba7-99b7-677af945ca90.yml
Owners: @privateducky

pass challenge if ttp has run more than one time too (#538)
  training/introduction/core/bba24f1c-eeac-4ba7-99b7-677af945ca90.yml
Owners: @privateducky

trim whitespace
  training/introduction/core/e4d1529b-fd18-429c-ad6b-abbaa9b644f2.yml
Owners: @privateducky

trim whitespace
  training/introduction/core/e4d1529b-fd18-429c-ad6b-abbaa9b644f2.yml
Owners: @privateducky

trim whitespace (#540)
  training/introduction/core/e4d1529b-fd18-429c-ad6b-abbaa9b644f2.yml
Owners: @privateducky

Fix flag 2 logic
  training/introduction/core/bba24f1c-eeac-4ba7-99b7-677af945ca90.yml
Owners: @privateducky

Fix flag 2 logic (#541)
  training/introduction/core/bba24f1c-eeac-4ba7-99b7-677af945ca90.yml
Owners: @privateducky

Update docs url in training
  training/introduction/core/a51a9dfb-c23e-4bea-8b98-fe1e22690592.yml
  training/introduction/core/bba24f1c-eeac-4ba7-99b7-677af945ca90.yml
  training/introduction/core/h7b55abe-ca34-40eb-96a7-30d52faffbd1.yml
  training/introduction/core/icf003b9-1db4-4d63-8897-efdc3d12f592.yml
Owners: @privateducky

Update docs url in training (#542)
  training/introduction/core/a51a9dfb-c23e-4bea-8b98-fe1e22690592.yml
  training/introduction/core/bba24f1c-eeac-4ba7-99b7-677af945ca90.yml
  training/introduction/core/h7b55abe-ca34-40eb-96a7-30d52faffbd1.yml
  training/introduction/core/icf003b9-1db4-4d63-8897-efdc3d12f592.yml
Owners: @privateducky
