Repository preludeorg/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @privateducky, @khyberspache, @lzimm

.github/CODEOWNERS:

/training/	@privateducky
/payloads/	@khyberspache	
/ttps/		@khyberspache
/plugins/	@privateducky @lzimm
/docs/		@privateducky @lzimm @khyberspache

rm this
  docs/operator/advanced/links.md
Owners: @privateducky, @lzimm, @khyberspache

move platform
  docs/operator/advanced/links.md
Owners: @privateducky, @lzimm, @khyberspache

add BITSadmin docs (#455)
  docs/procedures/command-and-control/3f3f9012-6f54-4fc3-973d-0c8ec88ba4c1.yml
Owners: @privateducky, @lzimm, @khyberspache

add docs for gost and wellmess malware (#441)
  docs/procedures/command-and-control/653d32ef-30de-40b2-adb1-b5adf7b4d39e.yml
  docs/procedures/execution/03fe8210-7e81-4a86-b667-a2c2b2ffb618.yml
  docs/procedures/resource-development/4d3aae74-318f-4860-ad5d-8930f6b586da.yml
Owners: @privateducky, @lzimm, @khyberspache

move ttp in correct folder
  docs/procedures/defense-evasion/8810b515-6c98-47a5-b2a2-e35597f3dcd2.md
Owners: @privateducky, @lzimm, @khyberspache

add mshta docs
  docs/procedures/defense-evasion/0593b78b-b225-40aa-81b9-2455021d51c6.yml
Owners: @privateducky, @lzimm, @khyberspache

Update 0593b78b-b225-40aa-81b9-2455021d51c6.yml
  docs/procedures/defense-evasion/0593b78b-b225-40aa-81b9-2455021d51c6.yml
Owners: @privateducky, @lzimm, @khyberspache

add mshta doc (#448)
  docs/procedures/defense-evasion/0593b78b-b225-40aa-81b9-2455021d51c6.yml
  docs/procedures/defense-evasion/8810b515-6c98-47a5-b2a2-e35597f3dcd2.md
Owners: @privateducky, @lzimm, @khyberspache

moving vectr docs to professional repo
  docs/operator/plugins/vectr.md
Owners: @privateducky, @lzimm, @khyberspache

moving vectr docs to professional repo (#458)
  docs/operator/plugins/vectr.md
Owners: @privateducky, @lzimm, @khyberspache

Removing chains metadata from TTPs
  ttps/collection/4e97e699-93d7-4040-b5a3-2e906a58199e.yml
  ttps/collection/6469befa-748a-4b9c-a96d-f191fde47d89.yml
  ttps/collection/90c2efaa-8205-480d-8bb6-61d90dbaf81b.yml
  ttps/command-and-control/06543a80-1b92-4281-ac8d-cb59f6c708a4.yml
  ttps/command-and-control/5f9001dc-e179-451f-bbd1-9fb4466d7057.yml
  ttps/command-and-control/f2440a34-d2d8-41b2-b8d4-5eb468ac506c.yml
  ttps/credential-access/6044fb78-5d7b-43cc-9592-dcba3c4537f1.yml
  ttps/credential-access/6ef19cb1-f8e5-4cdb-b3f1-98953174375f.yml
  ttps/discovery/0f84eff4-f698-47cd-820f-2230471accfe.yml
  ttps/discovery/26c8b8b5-7b5b-4de1-a128-7d37fb14f517.yml
  ttps/discovery/27b922c1-76ca-41c7-926f-1c36cabec122.yml
  ttps/discovery/5c4dd985-89e3-4590-9b57-71fed66ff4e2.yml
  ttps/discovery/85341c8c-4ecb-4579-8f53-43e3e91d7617.yml
  ttps/discovery/a7a1729c-3626-4bfe-85da-8e4a5e865c6f.yml
  ttps/discovery/f1628a03-957d-4a0d-a97a-ffc271d5fae1.yml
  ttps/exfiltration/300157e5-f4ad-4569-b533-9d1fa0e74d74.yml
  ttps/impact/47d08617-5ce1-424a-8cc5-c9c978ce6bf9.yml
  ttps/persistence/8421540e-6261-4617-8fd1-c77d8215a78f.yml
  ttps/persistence/f2963403-37a5-46e6-9cd5-f1c255012055.yml
  ttps/privilege-escalation/62933e77-9c3c-49be-9152-6990a654abf9.yml
  ttps/privilege-escalation/894a2682-9023-4956-b6fd-47200759bd2c.yml
  ttps/privilege-escalation/d43a4a1e-1134-4853-9fc7-39bcc181e85c.yml
  ttps/resource-development/e22b3ca7-6181-49ca-ab14-52ff9b7f49be.yml
Owners: @khyberspache

Removing chains metadata from TTPs (#459)
  ttps/collection/4e97e699-93d7-4040-b5a3-2e906a58199e.yml
  ttps/collection/6469befa-748a-4b9c-a96d-f191fde47d89.yml
  ttps/collection/90c2efaa-8205-480d-8bb6-61d90dbaf81b.yml
  ttps/command-and-control/06543a80-1b92-4281-ac8d-cb59f6c708a4.yml
  ttps/command-and-control/5f9001dc-e179-451f-bbd1-9fb4466d7057.yml
  ttps/command-and-control/f2440a34-d2d8-41b2-b8d4-5eb468ac506c.yml
  ttps/credential-access/6044fb78-5d7b-43cc-9592-dcba3c4537f1.yml
  ttps/credential-access/6ef19cb1-f8e5-4cdb-b3f1-98953174375f.yml
  ttps/discovery/0f84eff4-f698-47cd-820f-2230471accfe.yml
  ttps/discovery/26c8b8b5-7b5b-4de1-a128-7d37fb14f517.yml
  ttps/discovery/27b922c1-76ca-41c7-926f-1c36cabec122.yml
  ttps/discovery/5c4dd985-89e3-4590-9b57-71fed66ff4e2.yml
  ttps/discovery/85341c8c-4ecb-4579-8f53-43e3e91d7617.yml
  ttps/discovery/a7a1729c-3626-4bfe-85da-8e4a5e865c6f.yml
  ttps/discovery/f1628a03-957d-4a0d-a97a-ffc271d5fae1.yml
  ttps/exfiltration/300157e5-f4ad-4569-b533-9d1fa0e74d74.yml
  ttps/impact/47d08617-5ce1-424a-8cc5-c9c978ce6bf9.yml
  ttps/persistence/8421540e-6261-4617-8fd1-c77d8215a78f.yml
  ttps/persistence/f2963403-37a5-46e6-9cd5-f1c255012055.yml
  ttps/privilege-escalation/62933e77-9c3c-49be-9152-6990a654abf9.yml
  ttps/privilege-escalation/894a2682-9023-4956-b6fd-47200759bd2c.yml
  ttps/privilege-escalation/d43a4a1e-1134-4853-9fc7-39bcc181e85c.yml
  ttps/resource-development/e22b3ca7-6181-49ca-ab14-52ff9b7f49be.yml
Owners: @khyberspache

flattening
  docs/operator/advanced/links.md
Owners: @privateducky, @lzimm, @khyberspache

nevermind
  docs/operator/advanced/links.md
Owners: @privateducky, @lzimm, @khyberspache

fixing chains ttp count flag
  training/introduction/orientation/e573a081-0fc3-49b3-b039-cd72e3772a62.yml
Owners: @privateducky

fixing chains ttp count flag (#460)
  training/introduction/orientation/e573a081-0fc3-49b3-b039-cd72e3772a62.yml
Owners: @privateducky

new headless build location.
  ttps/resource-development/e22b3ca7-6181-49ca-ab14-52ff9b7f49be.yml
Owners: @khyberspache

new headless build location. (#462)
  ttps/resource-development/e22b3ca7-6181-49ca-ab14-52ff9b7f49be.yml
Owners: @khyberspache

add missing metadata to sliver chain
  chains/bdf01868-33fb-494c-a87c-59332ca8762a.yml
Owners: none

add missing metadata to sliver chain (#463)
  chains/bdf01868-33fb-494c-a87c-59332ca8762a.yml
Owners: none

Add missing release date
  chains/bdf01868-33fb-494c-a87c-59332ca8762a.yml
Owners: none

Add missing release date (#464)
  chains/bdf01868-33fb-494c-a87c-59332ca8762a.yml
Owners: none

duh
  docs/operator/advanced/links.md
Owners: @privateducky, @lzimm, @khyberspache

adding docs for new api endpoint
  docs/operator/advanced/api.md
Owners: @privateducky, @lzimm, @khyberspache

Listener plugin updates for 1.6
  plugins/HTTPS/HTTPS.js
  plugins/Sliver/Sliver.js
Owners: @privateducky, @lzimm

adding docs for api endpoints
  docs/operator/advanced/api.md
Owners: @privateducky, @lzimm, @khyberspache

adding docs for api endpoints
  docs/operator/advanced/api.md
Owners: @privateducky, @lzimm, @khyberspache

if i am understand this correctly, i don't see config as property under the TTP
  training/introduction/advanced/0b044323-bf6b-4856-8d70-372942983aab.yml
Owners: @privateducky

if i am understand this correctly, i don't see config as property under the TTP (#468)
  training/introduction/advanced/0b044323-bf6b-4856-8d70-372942983aab.yml
Owners: @privateducky

Update api.md
  docs/operator/advanced/api.md
Owners: @privateducky, @lzimm, @khyberspache

adding docs for api endpoints (#467)
  docs/operator/advanced/api.md
Owners: @privateducky, @lzimm, @khyberspache

adding docs for new api endpoint (#465)
  docs/operator/advanced/api.md
Owners: @privateducky, @lzimm, @khyberspache

added documentation for credential stuffing
  docs/procedures/credential-access/7f5319fb-4dad-4269-bfcc-c07a0118b040.md
Owners: @privateducky, @lzimm, @khyberspache

added documentation for credential stuffing
  docs/procedures/credential-access/7f5319fb-4dad-4269-bfcc-c07a0118b040.md
Owners: @privateducky, @lzimm, @khyberspache

Listener plugin updates for 1.6 (#466)
  plugins/HTTPS/HTTPS.js
  plugins/Sliver/Sliver.js
Owners: @privateducky, @lzimm

updates
  docs/operator/advanced/links.md
Owners: @privateducky, @lzimm, @khyberspache

Use the correct state enum for offlining agents
  plugins/Sliver/Sliver.js
Owners: @privateducky, @lzimm

Use the correct state enum for offlining agents (#470)
  plugins/Sliver/Sliver.js
Owners: @privateducky, @lzimm

Difference needed for 1.5 from 1.6
  plugins/HTTPS/HTTPS.js
  plugins/Sliver/Sliver.js
Owners: @privateducky, @lzimm

Difference needed for 1.5 from 1.6 (#473)
  plugins/HTTPS/HTTPS.js
  plugins/Sliver/Sliver.js
Owners: @privateducky, @lzimm
