Repository preludeorg/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @privateducky, @khyberspache, @lzimm

Update search.md
  docs/operator/advanced/search.md
Owners: @privateducky, @lzimm, @khyberspache

remove extra spaces in plugin.md so markdown parsing works correctly
  docs/operator/advanced/plugin.md
Owners: @privateducky, @lzimm, @khyberspache

remove extra spaces in plugin.md so markdown parsing works correctly (#489)
  docs/operator/advanced/plugin.md
Owners: @privateducky, @lzimm, @khyberspache

removing chain and process parent
  docs/operator/advanced/links.md
Owners: @privateducky, @lzimm, @khyberspache

New Link Format Documentation (#437)
  docs/operator/advanced/chaining.md
  docs/operator/advanced/links.md
  docs/operator/advanced/plugin.md
Owners: @privateducky, @lzimm, @khyberspache

updated docs to help clarify the order of operations
  docs/operator/plugins/sliver.md
Owners: @privateducky, @lzimm, @khyberspache

updated docs to help clarify the order of operations (#490)
  docs/operator/plugins/sliver.md
Owners: @privateducky, @lzimm, @khyberspache

man page for file compression
  docs/procedures/collection/5b3e388a-d65d-453f-b8e3-900ff7c6feda.md
Owners: @privateducky, @lzimm, @khyberspache

one function
  docs/procedures/collection/5b3e388a-d65d-453f-b8e3-900ff7c6feda.md
Owners: @privateducky, @lzimm, @khyberspache

fix download path to match the running command
  ttps/command-and-control/5f9001dc-e179-451f-bbd1-9fb4466d7057.yml
Owners: @khyberspache

fix download path to match the running command (#492)
  ttps/command-and-control/5f9001dc-e179-451f-bbd1-9fb4466d7057.yml
Owners: @khyberspache

Moving updated TTPs to release
  ttps/command-and-control/5f9001dc-e179-451f-bbd1-9fb4466d7057.yml
  ttps/resource-development/e22b3ca7-6181-49ca-ab14-52ff9b7f49be.yml
Owners: @khyberspache

Update api.md
  docs/operator/advanced/api.md
Owners: @privateducky, @lzimm, @khyberspache

Adding doc page for advanced filtering in TTP search (#488)
  docs/operator/advanced/search.md
Owners: @privateducky, @lzimm, @khyberspache

Adding support for themes in metadata
  chains/3e42a795-d1a7-4bb2-a773-8c424ba477b8.yml
  chains/a00a1c4f-771c-4c0f-bf4b-149dd087e835.yml
  chains/bdf01868-33fb-494c-a87c-59332ca8762a.yml
  chains/e8200002-22d9-4394-b73e-e0f5b74e1382.yml
Owners: none

single theme
  chains/3e42a795-d1a7-4bb2-a773-8c424ba477b8.yml
  chains/a00a1c4f-771c-4c0f-bf4b-149dd087e835.yml
  chains/bdf01868-33fb-494c-a87c-59332ca8762a.yml
  chains/e8200002-22d9-4394-b73e-e0f5b74e1382.yml
Owners: none

Adding support for themes in metadata (#493)
  chains/3e42a795-d1a7-4bb2-a773-8c424ba477b8.yml
  chains/a00a1c4f-771c-4c0f-bf4b-149dd087e835.yml
  chains/bdf01868-33fb-494c-a87c-59332ca8762a.yml
  chains/e8200002-22d9-4394-b73e-e0f5b74e1382.yml
Owners: none

man page for file compression (#491)
  docs/procedures/collection/5b3e388a-d65d-453f-b8e3-900ff7c6feda.md
Owners: @privateducky, @lzimm, @khyberspache

updating doc on redirectors (#487)
  docs/operator/advanced/redirector.md
  ttps/resource-development/e22b3ca7-6181-49ca-ab14-52ff9b7f49be.yml
Owners: @privateducky, @lzimm, @khyberspache

have HTTPS/Sliver plugins listen to destroy:resource event
  plugins/HTTPS/HTTPS.js
  plugins/Sliver/Sliver.js
Owners: @privateducky, @lzimm

have HTTPS/Sliver plugins listen to destroy:resource event (#494)
  plugins/HTTPS/HTTPS.js
  plugins/Sliver/Sliver.js
Owners: @privateducky, @lzimm

docs were added as yml. changed to md.
  docs/procedures/command-and-control/3f3f9012-6f54-4fc3-973d-0c8ec88ba4c1.md
  docs/procedures/command-and-control/653d32ef-30de-40b2-adb1-b5adf7b4d39e.md
  docs/procedures/defense-evasion/0593b78b-b225-40aa-81b9-2455021d51c6.md
  docs/procedures/defense-evasion/c1f2e4ab-3f74-4d6a-a6a0-4946d0ca4a79.md
  docs/procedures/execution/03fe8210-7e81-4a86-b667-a2c2b2ffb618.md
  docs/procedures/resource-development/4d3aae74-318f-4860-ad5d-8930f6b586da.md
Owners: @privateducky, @lzimm, @khyberspache

add mbr wiper doc
  docs/procedures/impact/c14f956a-7757-4117-80b7-3be38481199b.md
Owners: @privateducky, @lzimm, @khyberspache

new sha
  ttps/resource-development/e22b3ca7-6181-49ca-ab14-52ff9b7f49be.yml
Owners: @khyberspache

Update e22b3ca7-6181-49ca-ab14-52ff9b7f49be.yml
  ttps/resource-development/e22b3ca7-6181-49ca-ab14-52ff9b7f49be.yml
Owners: @khyberspache

add execute-shellcode docs (#486)
  docs/procedures/command-and-control/3f3f9012-6f54-4fc3-973d-0c8ec88ba4c1.md
  docs/procedures/command-and-control/653d32ef-30de-40b2-adb1-b5adf7b4d39e.md
  docs/procedures/defense-evasion/0593b78b-b225-40aa-81b9-2455021d51c6.md
  docs/procedures/defense-evasion/c1f2e4ab-3f74-4d6a-a6a0-4946d0ca4a79.md
  docs/procedures/execution/03fe8210-7e81-4a86-b667-a2c2b2ffb618.md
  docs/procedures/resource-development/4d3aae74-318f-4860-ad5d-8930f6b586da.md
Owners: @privateducky, @lzimm, @khyberspache

Update c14f956a-7757-4117-80b7-3be38481199b.md
  docs/procedures/impact/c14f956a-7757-4117-80b7-3be38481199b.md
Owners: @privateducky, @lzimm, @khyberspache

add mbr wiper doc (#495)
  docs/procedures/impact/c14f956a-7757-4117-80b7-3be38481199b.md
Owners: @privateducky, @lzimm, @khyberspache

dont error and die if missing sliver certs
  plugins/Sliver/Sliver.js
Owners: @privateducky, @lzimm

deprecated by ART and removed by request.
  plugins/ART/ART.js
  plugins/ART/config.yml
Owners: @privateducky, @lzimm

deprecated by ART and removed by request. (#498)
  plugins/ART/ART.js
  plugins/ART/config.yml
Owners: @privateducky, @lzimm

Update api.md
  docs/operator/advanced/api.md
Owners: @privateducky, @lzimm, @khyberspache

Update api.md (#499)
  docs/operator/advanced/api.md
Owners: @privateducky, @lzimm, @khyberspache

dont destroy resource
  plugins/Sliver/Sliver.js
Owners: @privateducky, @lzimm

dont error and die if missing sliver certs (#497)
  plugins/Sliver/Sliver.js
Owners: @privateducky, @lzimm

fix headless install ttp variant
  ttps/resource-development/e22b3ca7-6181-49ca-ab14-52ff9b7f49be.yml
Owners: @khyberspache

fix headless install ttp variant (#500)
  ttps/resource-development/e22b3ca7-6181-49ca-ab14-52ff9b7f49be.yml
Owners: @khyberspache

hard code home directory in ttp
  ttps/resource-development/e22b3ca7-6181-49ca-ab14-52ff9b7f49be.yml
Owners: @khyberspache

hardcode home directory in ttp
  ttps/resource-development/e22b3ca7-6181-49ca-ab14-52ff9b7f49be.yml
Owners: @khyberspache

hardcode home directory in ttp (#501)
  ttps/resource-development/e22b3ca7-6181-49ca-ab14-52ff9b7f49be.yml
Owners: @khyberspache

.github/CODEOWNERS:

/training/	@privateducky
/payloads/	@khyberspache	
/ttps/		@khyberspache
/plugins/	@privateducky @lzimm
/docs/		@privateducky @lzimm @khyberspache
