Repository preludeorg/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @privateducky, @khyberspache, @lzimm

before lewis' approach
  plugins/Sliver/Sliver.js
  plugins/Sliver/constants.js
Owners: @privateducky, @lzimm

Proper async callback handling
  plugins/Sliver/Sliver.js
Owners: @privateducky, @lzimm

fix
  plugins/Sliver/Sliver.js
Owners: @privateducky, @lzimm

buffering
  plugins/Sliver/Sliver.js
Owners: @privateducky, @lzimm

removing builds from payloads
  payloads/config.yml
Owners: @khyberspache

removing builds from payloads (#369)
  payloads/config.yml
Owners: @khyberspache

new changes
  training/pink/final-project/5e76bb42-fced-4389-9685-7b53b05b6ddf.yml
Owners: @privateducky

grammar
  training/pink/final-project/5e76bb42-fced-4389-9685-7b53b05b6ddf.yml
Owners: @privateducky

build via noop
  payloads/config.yml
Owners: @khyberspache

adding build scripts in but no-op (#370)
  payloads/config.yml
Owners: @khyberspache

rework
  training/pink/final-project/5e76bb42-fced-4389-9685-7b53b05b6ddf.yml
Owners: @privateducky

answer
  training/pink/final-project/5e76bb42-fced-4389-9685-7b53b05b6ddf.yml
Owners: @privateducky

one more
  training/pink/final-project/5e76bb42-fced-4389-9685-7b53b05b6ddf.yml
Owners: @privateducky

is
  training/pink/final-project/5e76bb42-fced-4389-9685-7b53b05b6ddf.yml
Owners: @privateducky

using proper API for posting facts
  plugins/ART/ART.js
Owners: @privateducky, @lzimm

patching ART fact keys
  plugins/ART/ART.js
Owners: @privateducky, @lzimm

downloading payloads for all ART ttps
  plugins/ART/ART.js
Owners: @privateducky, @lzimm

whoops
  plugins/ART/ART.js
Owners: @privateducky, @lzimm

buffer loading
  plugins/Sliver/Sliver.js
Owners: @privateducky, @lzimm

a few more fixe1s
  plugins/ART/ART.js
Owners: @privateducky, @lzimm

fixes
  plugins/ART/ART.js
Owners: @privateducky, @lzimm

Initial functional plugin
  plugins/Sliver/Sliver.js
  plugins/Sliver/constants.js
  plugins/Sliver/proto/commonpb/common.proto
  plugins/Sliver/proto/sliverpb/sliver.proto
Owners: @privateducky, @lzimm

Working
  plugins/Sliver/Sliver.js
Owners: @privateducky, @lzimm

Enable Operator executors
  plugins/Sliver/Sliver.js
Owners: @privateducky, @lzimm

Better
  plugins/Sliver/Sliver.js
Owners: @privateducky, @lzimm

port over campaign naming
  plugins/Vectr/Vectr.html
Owners: @privateducky, @lzimm

Working
  plugins/Vectr/Vectr.html
  plugins/Vectr/config.yml
Owners: @privateducky, @lzimm

Adding a Vectr API auto-publisher
  plugins/Vectr/Vectr.html
  plugins/Vectr/config.yml
Owners: @privateducky, @lzimm

don't parallelize the links
  plugins/Vectr/Vectr.html
Owners: @privateducky, @lzimm

Better tag information
  plugins/Vectr/Vectr.html
Owners: @privateducky, @lzimm

Vectr 1.5
  plugins/Vectr/Vectr.html
  plugins/Vectr/Vectr.js
  plugins/Vectr/config.yml
Owners: @privateducky, @lzimm

insecure
  plugins/Vectr/Vectr.js
Owners: @privateducky, @lzimm

Working
  plugins/Vectr/Vectr.js
Owners: @privateducky, @lzimm

tweak
  plugins/Vectr/config.yml
Owners: @privateducky, @lzimm

unneeded
  plugins/Sliver/Sliver.js
Owners: @privateducky, @lzimm

Adding listener extension methodology documentation
  docs/operator/advanced/listeners.md
Owners: @privateducky, @lzimm, @khyberspache

tweak
  docs/operator/advanced/listeners.md
Owners: @privateducky, @lzimm, @khyberspache

Adding listener extension methodology documentation (#373)
  docs/operator/advanced/listeners.md
Owners: @privateducky, @lzimm, @khyberspache

delete and configure events
  plugins/Sliver/Sliver.js
Owners: @privateducky, @lzimm

handling
  plugins/Sliver/Sliver.js
Owners: @privateducky, @lzimm

.github/CODEOWNERS:

/training/	@privateducky
/payloads/	@khyberspache	
/ttps/		@khyberspache
/plugins/	@privateducky @lzimm
/docs/		@privateducky @lzimm @khyberspache
