Repository preludeorg/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @privateducky, @khyberspache, @lzimm

fixing spacing on payload
  ttps/privilege-escalation/894a2682-9023-4956-b6fd-47200759bd2c.yml
Owners: @khyberspache

no more params
  plugins/ART/config.yml
Owners: @privateducky, @lzimm

using plugin cleanup handler
  plugins/ART/ART.js
Owners: @privateducky, @lzimm

supporting login from command line (#397)
  ttps/resource-development/e22b3ca7-6181-49ca-ab14-52ff9b7f49be.yml
Owners: @khyberspache

updating checksum on headless
  ttps/resource-development/e22b3ca7-6181-49ca-ab14-52ff9b7f49be.yml
Owners: @khyberspache

more patches to make work
  ttps/resource-development/e22b3ca7-6181-49ca-ab14-52ff9b7f49be.yml
Owners: @khyberspache

Update api.md
  docs/operator/advanced/api.md
Owners: @privateducky, @lzimm, @khyberspache

Update changes for API Docs
  docs/operator/advanced/api.md
Owners: @privateducky, @lzimm, @khyberspache

one
  docs/operator/advanced/api.md
Owners: @privateducky, @lzimm, @khyberspache

Update changes for API Docs (#405)
  docs/operator/advanced/api.md
Owners: @privateducky, @lzimm, @khyberspache

updating sliver plugin to play nice with new listener objects
  plugins/Sliver/Sliver.js
Owners: @privateducky, @lzimm

swapped single quotes in curl commands to escaped double quotes due to windows curl being bad
  docs/operator/advanced/api.md
Owners: @privateducky, @lzimm, @khyberspache

swapped single quotes in curl commands to escaped double quotes due to windows curl being bad (#407)
  docs/operator/advanced/api.md
Owners: @privateducky, @lzimm, @khyberspache

cleanup
  plugins/Sliver/config.yml
Owners: @privateducky, @lzimm

moving HTTPs listener to community
  plugins/HTTPS/HTTPS.js
  plugins/HTTPS/config.yml
Owners: @privateducky, @lzimm

a little bit of cleanup on the ART plugin
  plugins/ART/ART.js
Owners: @privateducky, @lzimm

whoops
  plugins/Sliver/Sliver.js
Owners: @privateducky, @lzimm

whoops
  plugins/HTTPS/HTTPS.js
Owners: @privateducky, @lzimm

Linking was an eyesore
  docs/operator/advanced/linking.md
Owners: @privateducky, @lzimm, @khyberspache

Linking was an eyesore (#410)
  docs/operator/advanced/linking.md
Owners: @privateducky, @lzimm, @khyberspache

updating with removal of /settings api
  docs/operator/advanced/api.md
Owners: @privateducky, @lzimm, @khyberspache

updating with removal of /settings api (#411)
  docs/operator/advanced/api.md
Owners: @privateducky, @lzimm, @khyberspache

fix
  plugins/HTTPS/HTTPS.js
Owners: @privateducky, @lzimm

Updating professional doc on headless authentication
  docs/operator/basic/professional.md
Owners: @privateducky, @lzimm, @khyberspache

Moving PROD to DEV
  ttps/resource-development/e22b3ca7-6181-49ca-ab14-52ff9b7f49be.yml
Owners: @khyberspache

moving HTTPs listener to community (#408)
  plugins/HTTPS/HTTPS.js
  plugins/HTTPS/config.yml
Owners: @privateducky, @lzimm

updating sliver plugin to play nice with new listener objects (#406)
  plugins/Sliver/Sliver.js
  plugins/Sliver/config.yml
Owners: @privateducky, @lzimm

Borked doc
  docs/procedures/persistence/db34ddd9-5c8b-4ec0-9ec9-1fe37c46e789.md
Owners: @privateducky, @lzimm, @khyberspache

oops
  docs/operator/basic/professional.md
Owners: @privateducky, @lzimm, @khyberspache

Bad doc (#415)
  docs/procedures/persistence/db34ddd9-5c8b-4ec0-9ec9-1fe37c46e789.md
Owners: @privateducky, @lzimm, @khyberspache

Fix for blackscreen crash when clicking on chain icon
  plugins/Editor/Editor.html
Owners: @privateducky, @lzimm

unusable
  docs/operator/basic/professional.md
Owners: @privateducky, @lzimm, @khyberspache

Create 3f7f0f30-2af3-43ef-bd89-9f28d5e3b067.md
  docs/procedures/exfiltration/3f7f0f30-2af3-43ef-bd89-9f28d5e3b067.md
Owners: @privateducky, @lzimm, @khyberspache

Update api.md
  docs/operator/advanced/api.md
Owners: @privateducky, @lzimm, @khyberspache

Update brain.md
  docs/operator/advanced/brain.md
Owners: @privateducky, @lzimm, @khyberspache

Update linking.md
  docs/operator/advanced/linking.md
Owners: @privateducky, @lzimm, @khyberspache

Update listeners.md
  docs/operator/advanced/listeners.md
Owners: @privateducky, @lzimm, @khyberspache

Update protect.md
  docs/operator/advanced/protect.md
Owners: @privateducky, @lzimm, @khyberspache

Update redirector.md
  docs/operator/advanced/redirector.md
Owners: @privateducky, @lzimm, @khyberspache

Update enterprise.md
  docs/operator/basic/enterprise.md
Owners: @privateducky, @lzimm, @khyberspache

.github/CODEOWNERS:

/training/	@privateducky
/payloads/	@khyberspache	
/ttps/		@khyberspache
/plugins/	@privateducky @lzimm
/docs/		@privateducky @lzimm @khyberspache
