Repository preludeorg/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @privateducky, @khyberspache, @lzimm

Make Pneuma point at release branch in PROD
  .gitmodules
Owners: none

connect fixes
  plugins/Connect/Connect.js
Owners: @privateducky, @lzimm

removing connect sidebar persistence
  plugins/Connect/Connect.js
Owners: @privateducky, @lzimm

Small bug fixes to CACLS BOF
  plugins/Sliver/Sliver.js
  ttps/discovery/0f84eff4-f698-47cd-820f-2230471accfe.yml
Owners: @privateducky, @lzimm, @khyberspache

Small bug fixes to CACLS BOF (#385)
  plugins/Sliver/Sliver.js
  ttps/discovery/0f84eff4-f698-47cd-820f-2230471accfe.yml
Owners: @privateducky, @lzimm, @khyberspache

Populate target field with host name
  plugins/Vectr/Vectr.js
Owners: @privateducky, @lzimm

Populate target field with host name (#386)
  plugins/Vectr/Vectr.js
Owners: @privateducky, @lzimm

Make VECTR campaign optional and provide a default value when installed
  docs/operator/plugins/sliver.md
  docs/operator/plugins/vectr.md
  plugins/Vectr/Vectr.js
  plugins/Vectr/config.yml
Owners: @privateducky, @lzimm, @khyberspache

spacing
  docs/operator/plugins/vectr.md
Owners: @privateducky, @lzimm, @khyberspache

Make VECTR campaign optional and provide a default value when installed (#387)
  docs/operator/plugins/sliver.md
  docs/operator/plugins/vectr.md
  plugins/Vectr/Vectr.js
  plugins/Vectr/config.yml
Owners: @privateducky, @lzimm, @khyberspache

Flattening keyword executors, making exit work for all agents
  plugins/Sliver/Sliver.js
  ttps/command-and-control/23c5cb2f-3f6f-4770-b260-13edf23f5903.yml
  ttps/command-and-control/f2440a34-d2d8-41b2-b8d4-5eb468ac506c.yml
  ttps/defense-evasion/03aa0a55-5052-4c02-909e-7d244f3083e1.yml
Owners: @privateducky, @lzimm, @khyberspache

Make Pneuma point at release branch in PROD (#384)
  .gitmodules
Owners: none

Flattening keyword executors, making exit work for all agents (#388)
  plugins/Sliver/Sliver.js
  ttps/command-and-control/23c5cb2f-3f6f-4770-b260-13edf23f5903.yml
  ttps/command-and-control/f2440a34-d2d8-41b2-b8d4-5eb468ac506c.yml
  ttps/defense-evasion/03aa0a55-5052-4c02-909e-7d244f3083e1.yml
Owners: @privateducky, @lzimm, @khyberspache

Updates to sliver to handle socket closing, supporting screenshots + pwd move to Pro (Hush)
  plugins/Sliver/Sliver.js
  ttps/discovery/44f36223-767e-4b93-bdee-eef03d244f98.yml
Owners: @privateducky, @lzimm, @khyberspache

Updates to sliver to handle socket closing, supporting screenshots + pwd move to Pro (Hush) (#391)
  plugins/Sliver/Sliver.js
  ttps/discovery/44f36223-767e-4b93-bdee-eef03d244f98.yml
Owners: @privateducky, @lzimm, @khyberspache

Update ART.js
  plugins/ART/ART.js
Owners: @privateducky, @lzimm

Update ART.js
  plugins/ART/ART.js
Owners: @privateducky, @lzimm

docs for the PolarCalm chain
  docs/procedures/defense-evasion/4e89cd8e-9fe6-4252-b8b1-c05599ed7cb0.md
  docs/procedures/initial-access/2d678370-e673-4a4f-940b-4c0ff78ddddc.md
Owners: @privateducky, @lzimm, @khyberspache

Update 4e89cd8e-9fe6-4252-b8b1-c05599ed7cb0.md
  docs/procedures/defense-evasion/4e89cd8e-9fe6-4252-b8b1-c05599ed7cb0.md
Owners: @privateducky, @lzimm, @khyberspache

Update 2d678370-e673-4a4f-940b-4c0ff78ddddc.md
  docs/procedures/initial-access/2d678370-e673-4a4f-940b-4c0ff78ddddc.md
Owners: @privateducky, @lzimm, @khyberspache

Documentation for the PolarCalm chain. (#393)
  docs/procedures/defense-evasion/4e89cd8e-9fe6-4252-b8b1-c05599ed7cb0.md
  docs/procedures/initial-access/2d678370-e673-4a4f-940b-4c0ff78ddddc.md
Owners: @privateducky, @lzimm, @khyberspache

adding state to ttps vs tag
  ttps/collection/2fff22c9-86e4-4deb-8e4b-a196db47e429.yml
  ttps/defense-evasion/11c8c5a7-81d2-43af-8b87-42cba6259790.yml
  ttps/defense-evasion/43b3754c-def4-4699-a673-1d85648fda6a.yml
  ttps/defense-evasion/458e7ec1-6177-4bee-a89d-a6ffe9b1a043.yml
  ttps/defense-evasion/4c9a443f-796d-4b79-a452-9c68ec85188a.yml
  ttps/defense-evasion/70a57910-a56a-4b60-bcb4-84b7a56076ab.yml
  ttps/defense-evasion/76de9c5c-899f-4d48-8651-2a17e93c5bd9.yml
  ttps/defense-evasion/7cb61bef-4ce8-498c-9a16-b37187a0c195.yml
  ttps/defense-evasion/8feb27ce-63db-472f-b8e9-038134e9d79a.yml
  ttps/defense-evasion/b007f6e8-4a87-4440-8888-29ceab047d9b.yml
  ttps/defense-evasion/b8242780-1177-4dbf-a3d3-4c8d7c13d3c1.yml
  ttps/defense-evasion/e4209652-91f4-4c7b-8b5d-db246bb08764.yml
  ttps/defense-evasion/f0b13547-6f1a-418a-9331-ce08b0fed707.yml
  ttps/defense-evasion/f53ef70f-4768-440d-bc6a-ff9120d7c37b.yml
  ttps/impact/280f0330-e862-44b9-9a57-0459ef118c8d.yml
  ttps/impact/3b007f46-23e7-4a11-9c14-e7085b6a754a.yml
  ttps/impact/70fdb233-d8c0-486a-ad1a-ada2f4b8f03e.yml
  ttps/impact/a4e43c2e-0397-4633-9c13-849925fbc1cc.yml
  ttps/impact/c1f5e797-02c8-4756-9283-41b66498bad4.yml
  ttps/impact/c9127250-9ec7-4d6c-b673-028a6191cbf9.yml
  ttps/impact/e5d4c9b1-4b26-4a2f-a4c8-b46db5f620b4.yml
  ttps/impact/f9a40f47-3b50-412a-ac9b-db70f867c57a.yml
  ttps/impact/fa6c9066-e5cb-47ac-989e-d255c10f89f6.yml
  ttps/persistence/dc6a04c2-535d-4593-b7e4-ff226a449c67.yml
Owners: @khyberspache

adding state to ttps vs tag (#394)
  ttps/collection/2fff22c9-86e4-4deb-8e4b-a196db47e429.yml
  ttps/defense-evasion/11c8c5a7-81d2-43af-8b87-42cba6259790.yml
  ttps/defense-evasion/43b3754c-def4-4699-a673-1d85648fda6a.yml
  ttps/defense-evasion/458e7ec1-6177-4bee-a89d-a6ffe9b1a043.yml
  ttps/defense-evasion/4c9a443f-796d-4b79-a452-9c68ec85188a.yml
  ttps/defense-evasion/70a57910-a56a-4b60-bcb4-84b7a56076ab.yml
  ttps/defense-evasion/76de9c5c-899f-4d48-8651-2a17e93c5bd9.yml
  ttps/defense-evasion/7cb61bef-4ce8-498c-9a16-b37187a0c195.yml
  ttps/defense-evasion/8feb27ce-63db-472f-b8e9-038134e9d79a.yml
  ttps/defense-evasion/b007f6e8-4a87-4440-8888-29ceab047d9b.yml
  ttps/defense-evasion/b8242780-1177-4dbf-a3d3-4c8d7c13d3c1.yml
  ttps/defense-evasion/e4209652-91f4-4c7b-8b5d-db246bb08764.yml
  ttps/defense-evasion/f0b13547-6f1a-418a-9331-ce08b0fed707.yml
  ttps/defense-evasion/f53ef70f-4768-440d-bc6a-ff9120d7c37b.yml
  ttps/impact/280f0330-e862-44b9-9a57-0459ef118c8d.yml
  ttps/impact/3b007f46-23e7-4a11-9c14-e7085b6a754a.yml
  ttps/impact/70fdb233-d8c0-486a-ad1a-ada2f4b8f03e.yml
  ttps/impact/a4e43c2e-0397-4633-9c13-849925fbc1cc.yml
  ttps/impact/c1f5e797-02c8-4756-9283-41b66498bad4.yml
  ttps/impact/c9127250-9ec7-4d6c-b673-028a6191cbf9.yml
  ttps/impact/e5d4c9b1-4b26-4a2f-a4c8-b46db5f620b4.yml
  ttps/impact/f9a40f47-3b50-412a-ac9b-db70f867c57a.yml
  ttps/impact/fa6c9066-e5cb-47ac-989e-d255c10f89f6.yml
  ttps/persistence/dc6a04c2-535d-4593-b7e4-ff226a449c67.yml
Owners: @khyberspache

add ttp for Dirty Pipe (CVE-2022-0847)
  payloads/src/CVE-2022-0847/dirtypipe.c
  ttps/privilege-escalation/894a2682-9023-4956-b6fd-47200759bd2c.yml
Owners: @khyberspache

Fixing sliver settings server reference
  plugins/Sliver/Sliver.js
Owners: @privateducky, @lzimm

Update ART.html
  plugins/ART/ART.html
Owners: @privateducky, @lzimm

patching connect
  plugins/Connect/Connect.html
Owners: @privateducky, @lzimm

supporting login from command line
  ttps/resource-development/e22b3ca7-6181-49ca-ab14-52ff9b7f49be.yml
Owners: @khyberspache

add CVE-2022-0847 n-day
  payloads/src/CVE-2022-0847/dirtypipe.c
  ttps/privilege-escalation/894a2682-9023-4956-b6fd-47200759bd2c.yml
Owners: @khyberspache

Systems: Changing login to portal for HQ (#381)
  docs/operator/advanced/protect.md
  docs/operator/basic/enterprise.md
  docs/operator/basic/professional.md
  training/pink/registration/ed2e1bae-5f2f-429d-9760-4dea63d650e1.yml
  training/pink/week-3/e51816a2-1172-4eeb-916a-54845d12d265.yml
Owners: @privateducky, @lzimm, @khyberspache

shifting around plugin locations
  plugins/Connect/Connect.js
  plugins/Connect/config.yml
Owners: @privateducky, @lzimm

Create 8810b515-6c98-47a5-b2a2-e35597f3dcd2.md
  docs/procedures/defense-evasion/ttps/resource-development/8810b515-6c98-47a5-b2a2-e35597f3dcd2.md
Owners: @privateducky, @lzimm, @khyberspache

shifting around plugin locations
  plugins/Vectr/Vectr.js
  plugins/Vectr/config.yml
Owners: @privateducky, @lzimm

shifting around plugin locations (#399)
  plugins/Connect/Connect.js
  plugins/Connect/config.yml
  plugins/Vectr/Vectr.js
  plugins/Vectr/config.yml
Owners: @privateducky, @lzimm

Update ART.js
  plugins/ART/ART.js
Owners: @privateducky, @lzimm

Update ART.js
  plugins/ART/ART.js
Owners: @privateducky, @lzimm

Update config.yml
  plugins/ART/config.yml
Owners: @privateducky, @lzimm

fix payload spacing. fix username in exploit.
  payloads/src/CVE-2022-0847/dirtypipe.c
  ttps/privilege-escalation/894a2682-9023-4956-b6fd-47200759bd2c.yml
Owners: @khyberspache

Update 894a2682-9023-4956-b6fd-47200759bd2c.yml
  ttps/privilege-escalation/894a2682-9023-4956-b6fd-47200759bd2c.yml
Owners: @khyberspache

add CVE-2022-0847 n-day (#398)
  payloads/src/CVE-2022-0847/dirtypipe.c
  ttps/privilege-escalation/894a2682-9023-4956-b6fd-47200759bd2c.yml
Owners: @khyberspache

.github/CODEOWNERS:

/training/	@privateducky
/payloads/	@khyberspache	
/ttps/		@khyberspache
/plugins/	@privateducky @lzimm
/docs/		@privateducky @lzimm @khyberspache
