Repository preludeorg/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @privateducky, @khyberspache, @lzimm

.github/CODEOWNERS:

/training/	@privateducky
/payloads/	@khyberspache	
/ttps/		@khyberspache
/plugins/	@privateducky @lzimm
/docs/		@privateducky @lzimm @khyberspache

new headless build
  ttps/resource-development/e22b3ca7-6181-49ca-ab14-52ff9b7f49be.yml
Owners: @khyberspache

house headless in /opt
  ttps/resource-development/e22b3ca7-6181-49ca-ab14-52ff9b7f49be.yml
Owners: @khyberspache

lowercase dir name
  ttps/resource-development/e22b3ca7-6181-49ca-ab14-52ff9b7f49be.yml
Owners: @khyberspache

house headless in /opt (#503)
  ttps/resource-development/e22b3ca7-6181-49ca-ab14-52ff9b7f49be.yml
Owners: @khyberspache

emit settings:refresh event on creation
  plugins/HTTPS/HTTPS.js
  plugins/Sliver/Sliver.js
Owners: @privateducky, @lzimm

updated headless
  ttps/resource-development/e22b3ca7-6181-49ca-ab14-52ff9b7f49be.yml
Owners: @khyberspache

adding emit for destroy
  plugins/HTTPS/HTTPS.js
  plugins/Sliver/Sliver.js
Owners: @privateducky, @lzimm

Refresh settings on plugin initilization (#504)
  plugins/HTTPS/HTTPS.js
  plugins/Sliver/Sliver.js
Owners: @privateducky, @lzimm

headless 1.6.0
  ttps/resource-development/e22b3ca7-6181-49ca-ab14-52ff9b7f49be.yml
Owners: @khyberspache

Updating to v1.6
  ttps/command-and-control/5f9001dc-e179-451f-bbd1-9fb4466d7057.yml
Owners: @khyberspache

Updating to v1.6 (#507)
  ttps/command-and-control/5f9001dc-e179-451f-bbd1-9fb4466d7057.yml
Owners: @khyberspache

Literal quotes to prevent bash interpretation
  ttps/collection/4e97e699-93d7-4040-b5a3-2e906a58199e.yml
Owners: @khyberspache

Literal quotes to prevent bash interpretation (#508)
  ttps/collection/4e97e699-93d7-4040-b5a3-2e906a58199e.yml
Owners: @khyberspache

Release cut 26 May 2022 (#509)
  chains/3e42a795-d1a7-4bb2-a773-8c424ba477b8.yml
  chains/a00a1c4f-771c-4c0f-bf4b-149dd087e835.yml
  chains/bdf01868-33fb-494c-a87c-59332ca8762a.yml
  chains/e8200002-22d9-4394-b73e-e0f5b74e1382.yml
  docs/operator/advanced/api.md
  docs/operator/advanced/chaining.md
  docs/operator/advanced/links.md
  docs/operator/advanced/plugin.md
  docs/operator/advanced/redirector.md
  docs/operator/advanced/search.md
  docs/operator/plugins/sliver.md
  docs/procedures/collection/5b3e388a-d65d-453f-b8e3-900ff7c6feda.md
  docs/procedures/command-and-control/3f3f9012-6f54-4fc3-973d-0c8ec88ba4c1.md
  docs/procedures/command-and-control/653d32ef-30de-40b2-adb1-b5adf7b4d39e.md
  docs/procedures/credential-access/7f5319fb-4dad-4269-bfcc-c07a0118b040.md
  docs/procedures/defense-evasion/0593b78b-b225-40aa-81b9-2455021d51c6.md
  docs/procedures/defense-evasion/c1f2e4ab-3f74-4d6a-a6a0-4946d0ca4a79.md
  docs/procedures/execution/03fe8210-7e81-4a86-b667-a2c2b2ffb618.md
  docs/procedures/impact/c14f956a-7757-4117-80b7-3be38481199b.md
  docs/procedures/resource-development/4d3aae74-318f-4860-ad5d-8930f6b586da.md
  plugins/ART/ART.js
  plugins/ART/config.yml
  plugins/HTTPS/HTTPS.js
  plugins/Sliver/Sliver.js
  ttps/collection/4e97e699-93d7-4040-b5a3-2e906a58199e.yml
  ttps/command-and-control/5f9001dc-e179-451f-bbd1-9fb4466d7057.yml
  ttps/resource-development/e22b3ca7-6181-49ca-ab14-52ff9b7f49be.yml
Owners: @privateducky, @lzimm, @khyberspache

updated answer to look at the ttps property instead of procedures
  training/introduction/orientation/e573a081-0fc3-49b3-b039-cd72e3772a62.yml
Owners: @privateducky

updated answer to look at the ttps property instead of procedures (#512)
  training/introduction/orientation/e573a081-0fc3-49b3-b039-cd72e3772a62.yml
Owners: @privateducky

a.metadata.state does not exist -> a.state
  training/introduction/agents/7ad84c09-dfa9-431d-a273-908cdbacbae2.yml
Owners: @privateducky

a.metadata.state does not exist -> a.state (#513)
  training/introduction/agents/7ad84c09-dfa9-431d-a273-908cdbacbae2.yml
Owners: @privateducky

removed flag for agent lock
  training/introduction/agents/9e7b2d08-21bd-4244-ab46-243d597e5d29.yml
Owners: @privateducky

removed flag for agent lock (#514)
  training/introduction/agents/9e7b2d08-21bd-4244-ab46-243d597e5d29.yml
Owners: @privateducky

updated AES key config location
  training/introduction/agents/c276c08c-2eb0-4dfe-b542-91e8409c60ab.yml
Owners: @privateducky

updated AES key config location (#515)
  training/introduction/agents/c276c08c-2eb0-4dfe-b542-91e8409c60ab.yml
Owners: @privateducky

byeeee
  training/introduction/advanced/2a729508-8410-4ea8-924d-a6ddd14fd64d.yml
Owners: @privateducky

byeeee (#516)
  training/introduction/advanced/2a729508-8410-4ea8-924d-a6ddd14fd64d.yml
Owners: @privateducky

fix for missing variants in other platforms
  training/introduction/advanced/0b044323-bf6b-4856-8d70-372942983aab.yml
Owners: @privateducky

Removing plugins in dev
  docs/operator/plugins/https.md
  docs/operator/plugins/sliver.md
  plugins/HTTPS/HTTPS.js
  plugins/HTTPS/config.yml
  plugins/Sliver/Sliver.js
  plugins/Sliver/config.yml
  plugins/Sliver/proto/commonpb/common.proto
  plugins/Sliver/proto/sliverpb/sliver.proto
Owners: @privateducky, @lzimm, @khyberspache

Documentation on custom SSL certificate installation
  docs/operator/advanced/api.md
Owners: @privateducky, @lzimm, @khyberspache

spacing
  docs/operator/advanced/api.md
Owners: @privateducky, @lzimm, @khyberspache

fix for missing variants in other platforms (#517)
  training/introduction/advanced/0b044323-bf6b-4856-8d70-372942983aab.yml
Owners: @privateducky

Training updates and other to Merge into release (#520)
  training/introduction/advanced/0b044323-bf6b-4856-8d70-372942983aab.yml
  training/introduction/advanced/2a729508-8410-4ea8-924d-a6ddd14fd64d.yml
  training/introduction/agents/7ad84c09-dfa9-431d-a273-908cdbacbae2.yml
  training/introduction/agents/9e7b2d08-21bd-4244-ab46-243d597e5d29.yml
  training/introduction/agents/c276c08c-2eb0-4dfe-b542-91e8409c60ab.yml
  training/introduction/orientation/e573a081-0fc3-49b3-b039-cd72e3772a62.yml
Owners: @privateducky

Documentation on custom SSL certificate installation (#519)
  docs/operator/advanced/api.md
Owners: @privateducky, @lzimm, @khyberspache

remove/pink
  training/pink/config.yml
  training/pink/final-project/5e76bb42-fced-4389-9685-7b53b05b6ddf.yml
  training/pink/registration/ed2e1bae-5f2f-429d-9760-4dea63d650e1.yml
  training/pink/week-1/03e3e43c-4cb3-4267-bfa9-4d0f63762032.yml
  training/pink/week-1/2f70a23f-b2d0-4942-b1e9-9a7176895119.yml
  training/pink/week-1/83a3ca9e-6e32-4c67-b2f6-1a38970db09a.yml
  training/pink/week-1/c42b9ff5-20b9-45c7-9289-ec7c4aee6fd8.yml
  training/pink/week-1/cceab224-9179-4e02-b7cd-96fe2f1bb001.yml
  training/pink/week-1/f437e5f4-669f-4d71-87cb-517d6266d8eb.yml
  training/pink/week-2/54527f15-6d11-4ead-857e-6644642fc9e1.yml
  training/pink/week-2/9e5c7ba2-15f8-4bd8-b539-75204cfe7fda.yml
  training/pink/week-3/04ceaeb4-db4a-4411-a75d-7baaf9e77984.yml
  training/pink/week-3/5b94b4df-6fcd-45c8-9c32-01599a2a1d44.yml
  training/pink/week-3/d263aa1d-12ec-40f2-9166-fbf80fe1ed4a.yml
  training/pink/week-3/e51816a2-1172-4eeb-916a-54845d12d265.yml
Owners: @privateducky

dropping https plugin; this is in core now
  plugins/HTTPS/HTTPS.js
  plugins/HTTPS/config.yml
Owners: @privateducky, @lzimm

Remove pink training program (#522)
  plugins/HTTPS/HTTPS.js
  plugins/HTTPS/config.yml
  training/pink/config.yml
  training/pink/final-project/5e76bb42-fced-4389-9685-7b53b05b6ddf.yml
  training/pink/registration/ed2e1bae-5f2f-429d-9760-4dea63d650e1.yml
  training/pink/week-1/03e3e43c-4cb3-4267-bfa9-4d0f63762032.yml
  training/pink/week-1/2f70a23f-b2d0-4942-b1e9-9a7176895119.yml
  training/pink/week-1/83a3ca9e-6e32-4c67-b2f6-1a38970db09a.yml
  training/pink/week-1/c42b9ff5-20b9-45c7-9289-ec7c4aee6fd8.yml
  training/pink/week-1/cceab224-9179-4e02-b7cd-96fe2f1bb001.yml
  training/pink/week-1/f437e5f4-669f-4d71-87cb-517d6266d8eb.yml
  training/pink/week-2/54527f15-6d11-4ead-857e-6644642fc9e1.yml
  training/pink/week-2/9e5c7ba2-15f8-4bd8-b539-75204cfe7fda.yml
  training/pink/week-3/04ceaeb4-db4a-4411-a75d-7baaf9e77984.yml
  training/pink/week-3/5b94b4df-6fcd-45c8-9c32-01599a2a1d44.yml
  training/pink/week-3/d263aa1d-12ec-40f2-9166-fbf80fe1ed4a.yml
  training/pink/week-3/e51816a2-1172-4eeb-916a-54845d12d265.yml
Owners: @privateducky, @lzimm

bump 1.7
  ttps/command-and-control/5f9001dc-e179-451f-bbd1-9fb4466d7057.yml
Owners: @khyberspache

update verbiage and hints
  training/introduction/orientation/e573a081-0fc3-49b3-b039-cd72e3772a62.yml
Owners: @privateducky

update verbiage and hints
  training/introduction/orientation/e573a081-0fc3-49b3-b039-cd72e3772a62.yml
Owners: @privateducky

Fix/chain wording (#524)
  training/introduction/orientation/e573a081-0fc3-49b3-b039-cd72e3772a62.yml
Owners: @privateducky

WIP: add core training module
  training/introduction/core/a51a9dfb-c23e-4bea-8b98-fe1e22690592.yml
  training/introduction/core/bba24f1c-eeac-4ba7-99b7-677af945ca90.yml
  training/introduction/core/c222c564-f61b-443a-9e9b-08ca7d585fc6.yml
  training/introduction/core/d60a36e3-9256-4722-9f3e-157cfd17ff57.yml
  training/introduction/core/e4d1529b-fd18-429c-ad6b-abbaa9b644f2.yml
  training/introduction/core/f6f864a9-45ba-489e-aab0-a2c435e059a3.yml
  training/introduction/core/ga095b52-db71-4c53-936d-80b64cf66495.yml
  training/introduction/core/h7b55abe-ca34-40eb-96a7-30d52faffbd1.yml
  training/introduction/core/icf003b9-1db4-4d63-8897-efdc3d12f592.yml
  training/introduction/core/jaca7e81-3855-452e-91b0-997fd42ead4b.yml
Owners: @privateducky

update answers
  training/introduction/config.yml
  training/introduction/core/a51a9dfb-c23e-4bea-8b98-fe1e22690592.yml
  training/introduction/core/bba24f1c-eeac-4ba7-99b7-677af945ca90.yml
  training/introduction/core/c222c564-f61b-443a-9e9b-08ca7d585fc6.yml
  training/introduction/core/d60a36e3-9256-4722-9f3e-157cfd17ff57.yml
  training/introduction/core/e4d1529b-fd18-429c-ad6b-abbaa9b644f2.yml
  training/introduction/core/f6f864a9-45ba-489e-aab0-a2c435e059a3.yml
  training/introduction/core/ga095b52-db71-4c53-936d-80b64cf66495.yml
  training/introduction/core/h7b55abe-ca34-40eb-96a7-30d52faffbd1.yml
  training/introduction/core/icf003b9-1db4-4d63-8897-efdc3d12f592.yml
Owners: @privateducky
