Repository preludeorg/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @privateducky, @khyberspache, @lzimm

updated headless ART plugin
  plugins/ART/ART.html
  plugins/ART/config.yml
Owners: @privateducky, @lzimm

cleanup
  plugins/ART/ART.html
Owners: @privateducky, @lzimm

running list of api updates
  docs/operator/advanced/api.md
Owners: @privateducky, @lzimm, @khyberspache

current changes
  docs/operator/advanced/api.md
Owners: @privateducky, @lzimm, @khyberspache

section changes
  docs/operator/advanced/api.md
Owners: @privateducky, @lzimm, @khyberspache

more updates, authentication explaination
  docs/operator/advanced/api.md
Owners: @privateducky, @lzimm, @khyberspache

updated
  docs/operator/advanced/api.md
Owners: @privateducky, @lzimm, @khyberspache

finally
  docs/operator/advanced/api.md
Owners: @privateducky, @lzimm, @khyberspache

fixes for summary
  docs/operator/advanced/api.md
Owners: @privateducky, @lzimm, @khyberspache

better?
  docs/operator/advanced/api.md
Owners: @privateducky, @lzimm, @khyberspache

identifies, not identified
  docs/operator/advanced/api.md
Owners: @privateducky, @lzimm, @khyberspache

updated
  docs/operator/advanced/api.md
Owners: @privateducky, @lzimm, @khyberspache

commas > and
  docs/operator/advanced/api.md
Owners: @privateducky, @lzimm, @khyberspache

removing editor plugin from dev env
  payloads/config.yml
  plugins/Editor/Editor.html
  plugins/Editor/config.yml
Owners: @khyberspache, @privateducky, @lzimm

updating content of docs for 1.5
  docs/operator/advanced/api.md
  docs/operator/advanced/brain.md
  docs/operator/advanced/connect.md
  docs/operator/advanced/linking.md
  docs/operator/advanced/plugin.md
  docs/operator/advanced/protect.md
  docs/operator/advanced/redirector.md
  docs/operator/basic/enterprise.md
  docs/operator/basic/intro.md
  docs/operator/basic/pneuma.md
  docs/operator/basic/professional.md
  docs/operator/terms/agent.md
  docs/operator/terms/chain.md
  docs/operator/terms/ttp.md
Owners: @privateducky, @lzimm, @khyberspache

updating content of docs for 1.5
  docs/operator/advanced/api.md
  docs/operator/advanced/brain.md
  docs/operator/advanced/connect.md
  docs/operator/advanced/linking.md
  docs/operator/advanced/plugin.md
  docs/operator/advanced/protect.md
  docs/operator/advanced/redirector.md
  docs/operator/basic/enterprise.md
  docs/operator/basic/intro.md
  docs/operator/basic/pneuma.md
  docs/operator/basic/professional.md
  docs/operator/terms/agent.md
  docs/operator/terms/chain.md
  docs/operator/terms/ttp.md
Owners: @privateducky, @lzimm, @khyberspache

Tweaks to the wmi event subcription test
  ttps/persistence/8421540e-6261-4617-8fd1-c77d8215a78f.yml
Owners: @khyberspache

cleanup comment
  ttps/persistence/8421540e-6261-4617-8fd1-c77d8215a78f.yml
Owners: @khyberspache

operations can receive agent(s)/range(s)
  docs/operator/advanced/api.md
Owners: @privateducky, @lzimm, @khyberspache

operations can receive agent(s)/range(s)
  docs/operator/advanced/api.md
Owners: @privateducky, @lzimm, @khyberspache

remvoed single quote in body that was breaking curl
  docs/operator/advanced/api.md
Owners: @privateducky, @lzimm, @khyberspache

banishing the use of single quotes in the body
  docs/operator/advanced/api.md
Owners: @privateducky, @lzimm, @khyberspache

update docs to show example with optional facts, and remove multiple options in favor of multiple ttps
  docs/operator/advanced/api.md
Owners: @privateducky, @lzimm, @khyberspache

updated
  docs/operator/advanced/api.md
Owners: @privateducky, @lzimm, @khyberspache

not sure where this file went
  ttps/collection/6469befa-748a-4b9c-a96d-f191fde47d89.yml
Owners: @khyberspache

added in id to the variant fields
  ttps/collection/2fff22c9-86e4-4deb-8e4b-a196db47e429.yml
  ttps/collection/6469befa-748a-4b9c-a96d-f191fde47d89.yml
  ttps/command-and-control/23c5cb2f-3f6f-4770-b260-13edf23f5903.yml
  ttps/defense-evasion/3864fd22-5c63-41c9-bdbc-a66b5ffa3f5e.yml
  ttps/defense-evasion/43b3754c-def4-4699-a673-1d85648fda6a.yml
  ttps/defense-evasion/b007f6e8-4a87-4440-8888-29ceab047d9b.yml
  ttps/discovery/26c8b8b5-7b5b-4de1-a128-7d37fb14f517.yml
  ttps/discovery/27b922c1-76ca-41c7-926f-1c36cabec122.yml
  ttps/discovery/530e47c6-8592-42bf-91df-c59ffbd8541b.yml
  ttps/discovery/5a39d7ed-45c9-4a79-b581-e5fb99e24f65.yml
  ttps/discovery/6dffb878-04aa-49e5-ac6d-abf3e4eabd47.yml
  ttps/discovery/a5264956-a8b7-4b3a-92d1-294cbcfb2eef.yml
  ttps/discovery/a7a1729c-3626-4bfe-85da-8e4a5e865c6f.yml
  ttps/discovery/b480cb71-713a-42e7-ac18-cb408cb58a40.yml
  ttps/discovery/c1cd6388-3ced-48c7-a511-0434c6ba8f48.yml
  ttps/discovery/c6607391-d02c-44b5-9b13-d3492ca58599.yml
  ttps/discovery/e82f39e2-56f8-4f19-8376-b007f9ac5f8a.yml
  ttps/impact/280f0330-e862-44b9-9a57-0459ef118c8d.yml
  ttps/persistence/83a60a83-4d0c-4559-96ca-b5f45438347b.yml
  ttps/persistence/8421540e-6261-4617-8fd1-c77d8215a78f.yml
  ttps/persistence/dc6a04c2-535d-4593-b7e4-ff226a449c67.yml
Owners: @khyberspache

look like name got split off
  ttps/defense-evasion/a03cd1a6-c32d-437c-84bf-574174ef9db0.yml
Owners: @khyberspache

straggling version
  ttps/collection/6469befa-748a-4b9c-a96d-f191fde47d89.yml
Owners: @khyberspache

added back in
  ttps/discovery/27b922c1-76ca-41c7-926f-1c36cabec122.yml
Owners: @khyberspache

rename payloads
  ttps/command-and-control/5f9001dc-e179-451f-bbd1-9fb4466d7057.yml
  ttps/persistence/83a60a83-4d0c-4559-96ca-b5f45438347b.yml
  ttps/privilege-escalation/d43a4a1e-1134-4853-9fc7-39bcc181e85c.yml
Owners: @khyberspache

add payloads with payloadname: sha1 field to metadata
  ttps/command-and-control/5f9001dc-e179-451f-bbd1-9fb4466d7057.yml
  ttps/persistence/83a60a83-4d0c-4559-96ca-b5f45438347b.yml
  ttps/privilege-escalation/d43a4a1e-1134-4853-9fc7-39bcc181e85c.yml
Owners: @khyberspache

remove payloads subdirs and remove CTF/Protect training
  payloads/.gitkeep
  payloads/config.yml
  payloads/dst/.gitkeep
  payloads/src/CVE-2021-4034/blasty-vs-pkexec.c
  payloads/src/ctf/vulnerable.sh
  payloads/src/schism/schism-android.py
  payloads/src/schism/schism-ftp.py
  payloads/src/schism/schism-http.py
  payloads/src/translators/ftp/requirements.txt
  payloads/src/translators/ftp/server.py
  payloads/src/translators/grpc/beacon.proto
  payloads/src/translators/grpc/beacon_pb2.py
  payloads/src/translators/grpc/beacon_pb2_grpc.py
  payloads/src/translators/grpc/requirements.txt
  payloads/src/translators/grpc/server.py
  training/ctf/config.yml
  training/ctf/level-0/ee55169a-a6f8-4525-9815-0a2b886e3565.yml
  training/ctf/level-1/92692b21-0f04-4437-96a2-2aa6cea90fa6.yml
  training/ctf/level-2/83a5ccf6-8599-464c-a4ed-7e2d33d60da1.yml
  training/protect/collection/6016ed-1e05-4e08-976e-44fdbdc9ef37.yml
  training/protect/collection/78524da1-f347-4fbb-9295-209f1f408330.yml
  training/protect/command-and-control/1e29af7-8d40-486b-b752-c437f528e509.yml
  training/protect/config.yml
  training/protect/credential-access/13147806-dda3-4f21-be18-42b9627e5e27.yml
  training/protect/execution/dc3f307a-7f10-49c5-a5d3-97df3e296ab5.yml
  training/protect/impact/fc4c1762-a946-4212-934b-7f2271122dda.yml
  training/protect/initial-access/2e04f9d2-9e04-4d78-a6fd-38f4be040c1b.yml
Owners: @khyberspache, @privateducky

Adding sim data to docs
  docs/procedures/collection/300157e5-f4ad-4569-b533-9d1fa0e74d74.md
Owners: @privateducky, @lzimm, @khyberspache

pulling changes
  docs/procedures/collection/300157e5-f4ad-4569-b533-9d1fa0e74d74.md
  docs/procedures/collection/6469befa-748a-4b9c-a96d-f191fde47d89.md
  docs/procedures/collection/90c2efaa-8205-480d-8bb6-61d90dbaf81b.md
  docs/procedures/collection/fd27fe6c-4846-4e94-aef9-f6bc21ab0f0e.md
Owners: @privateducky, @lzimm, @khyberspache

better
  docs/procedures/collection/300157e5-f4ad-4569-b533-9d1fa0e74d74.md
  docs/procedures/collection/6469befa-748a-4b9c-a96d-f191fde47d89.md
  docs/procedures/collection/90c2efaa-8205-480d-8bb6-61d90dbaf81b.md
Owners: @privateducky, @lzimm, @khyberspache

Update 83a60a83-4d0c-4559-96ca-b5f45438347b.yml
  ttps/persistence/83a60a83-4d0c-4559-96ca-b5f45438347b.yml
Owners: @khyberspache

reorganizing
  training/introduction/advanced deployment/0b044323-bf6b-4856-8d70-372942983aab.yml
  training/introduction/advanced deployment/16e97188-0b7e-4a45-90f6-1c9852573944.yml
  training/introduction/advanced deployment/2a729508-8410-4ea8-924d-a6ddd14fd64d.yml
  training/introduction/advanced deployment/2aac8660-191d-4617-a0b4-a02de8d19364.yml
  training/introduction/advanced deployment/5dcf668b-b3ad-4ee5-b595-c716baf79b2c.yml
  training/introduction/advanced deployment/9112f8d6-4ee1-4582-bd55-d42519cec783.yml
  training/introduction/basic deployment/1655c859-17dd-4b53-9ae6-3e895afb8cc7.yml
  training/introduction/basic deployment/326c369e-4672-48c1-9120-2fdd3a13d80d.yml
  training/introduction/basic deployment/3abff28a-e1c0-498f-a273-0ab8e627d122.yml
  training/introduction/basic deployment/9a6caab1-13a1-4b44-9eb4-b4994d860863.yml
  training/introduction/config.yml
  training/introduction/documentation/e1d51b67-e9bb-483f-b4f1-2ca5b24706ad.yml
  training/introduction/editor/c8bfb952-828a-4331-8395-13fee2faf47d.yml
  training/introduction/editor/e5a1622e-2e12-4f5a-9908-823af1642c08.yml
  training/introduction/orientation/00000000-0000-0000-0000-000000000001.yml
  training/introduction/orientation/2080e0e3-f107-418d-8a9f-773fe2d7fb04.yml
  training/introduction/orientation/29560d69-8ccb-45b4-a4ca-06b2b14fae02.yml
  training/introduction/orientation/50bcb70f-86c8-4b62-aa58-611831866173.yml
  training/introduction/orientation/be82d7a7-bb60-47a0-834d-655318c08369.yml
  training/introduction/orientation/e573a081-0fc3-49b3-b039-cd72e3772a62.yml
  training/introduction/orientation/fc7e65a1-7c08-4aec-a247-aefe15477b98.yml
  training/introduction/training/4577e522-ad3b-44c0-bdd7-462660d98646.yml
  training/introduction/training/daddd488-7098-4b10-bdb4-bcac861b6680.yml
  training/introduction/understanding agents/2f801418-a956-43cc-8a21-504c0ce5b602.yml
  training/introduction/understanding agents/79c1cf88-b321-45af-a157-a245de29ddc0.yml
  training/introduction/understanding agents/7ad84c09-dfa9-431d-a273-908cdbacbae2.yml
  training/introduction/understanding agents/8fb4c5f2-2be1-4f54-a330-061992cc8a4f.yml
  training/introduction/understanding agents/9e7b2d08-21bd-4244-ab46-243d597e5d29.yml
  training/introduction/understanding agents/c276c08c-2eb0-4dfe-b542-91e8409c60ab.yml
  training/introduction/understanding agents/ff6a1861-edf1-41a1-b00f-7a3d3ed58545.yml
  ttps/command-and-control/5f9001dc-e179-451f-bbd1-9fb4466d7057.yml
  ttps/persistence/83a60a83-4d0c-4559-96ca-b5f45438347b.yml
  ttps/privilege-escalation/d43a4a1e-1134-4853-9fc7-39bcc181e85c.yml
Owners: @privateducky, @khyberspache

second try
  training/introduction/advanced deployment/0b044323-bf6b-4856-8d70-372942983aab.yml
  training/introduction/advanced deployment/16e97188-0b7e-4a45-90f6-1c9852573944.yml
  training/introduction/advanced deployment/2a729508-8410-4ea8-924d-a6ddd14fd64d.yml
  training/introduction/advanced deployment/2aac8660-191d-4617-a0b4-a02de8d19364.yml
  training/introduction/advanced deployment/5dcf668b-b3ad-4ee5-b595-c716baf79b2c.yml
  training/introduction/advanced deployment/9112f8d6-4ee1-4582-bd55-d42519cec783.yml
  training/introduction/basic deployment/1655c859-17dd-4b53-9ae6-3e895afb8cc7.yml
  training/introduction/basic deployment/326c369e-4672-48c1-9120-2fdd3a13d80d.yml
  training/introduction/basic deployment/3abff28a-e1c0-498f-a273-0ab8e627d122.yml
  training/introduction/basic deployment/9a6caab1-13a1-4b44-9eb4-b4994d860863.yml
  training/introduction/config.yml
  training/introduction/documentation/e1d51b67-e9bb-483f-b4f1-2ca5b24706ad.yml
  training/introduction/editor/c8bfb952-828a-4331-8395-13fee2faf47d.yml
  training/introduction/editor/e5a1622e-2e12-4f5a-9908-823af1642c08.yml
  training/introduction/orientation/00000000-0000-0000-0000-000000000001.yml
  training/introduction/orientation/2080e0e3-f107-418d-8a9f-773fe2d7fb04.yml
  training/introduction/orientation/29560d69-8ccb-45b4-a4ca-06b2b14fae02.yml
  training/introduction/orientation/50bcb70f-86c8-4b62-aa58-611831866173.yml
  training/introduction/orientation/be82d7a7-bb60-47a0-834d-655318c08369.yml
  training/introduction/orientation/e573a081-0fc3-49b3-b039-cd72e3772a62.yml
  training/introduction/orientation/fc7e65a1-7c08-4aec-a247-aefe15477b98.yml
  training/introduction/training/4577e522-ad3b-44c0-bdd7-462660d98646.yml
  training/introduction/training/daddd488-7098-4b10-bdb4-bcac861b6680.yml
  training/introduction/understanding agents/2f801418-a956-43cc-8a21-504c0ce5b602.yml
  training/introduction/understanding agents/79c1cf88-b321-45af-a157-a245de29ddc0.yml
  training/introduction/understanding agents/7ad84c09-dfa9-431d-a273-908cdbacbae2.yml
  training/introduction/understanding agents/8fb4c5f2-2be1-4f54-a330-061992cc8a4f.yml
  training/introduction/understanding agents/9e7b2d08-21bd-4244-ab46-243d597e5d29.yml
  training/introduction/understanding agents/c276c08c-2eb0-4dfe-b542-91e8409c60ab.yml
  training/introduction/understanding agents/ff6a1861-edf1-41a1-b00f-7a3d3ed58545.yml
Owners: @privateducky

fixed command
  ttps/credential-access/6044fb78-5d7b-43cc-9592-dcba3c4537f1.yml
Owners: @khyberspache

fixed command
  ttps/privilege-escalation/62933e77-9c3c-49be-9152-6990a654abf9.yml
Owners: @khyberspache

.github/CODEOWNERS:

/training/	@privateducky
/payloads/	@khyberspache	
/ttps/		@khyberspache
/plugins/	@privateducky @lzimm
/docs/		@privateducky @lzimm @khyberspache
