Repository preludeorg/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @privateducky, @khyberspache, @lzimm

Initial commit for Vectr plugin in 1.4
  plugins/Vectr/Vectr.html
  plugins/Vectr/config.yml
Owners: @privateducky, @lzimm

oops
  training/introduction/orientation/e573a081-0fc3-49b3-b039-cd72e3772a62.yml
Owners: @privateducky

Working
  plugins/Vectr/Vectr.html
Owners: @privateducky, @lzimm

Woops
  plugins/Vectr/Vectr.html
Owners: @privateducky, @lzimm

not delete
  plugins/Vectr/Vectr.html
Owners: @privateducky, @lzimm

done
  plugins/Vectr/Vectr.html
Owners: @privateducky, @lzimm

Add a custom campaign
  plugins/Vectr/Vectr.html
Owners: @privateducky, @lzimm

Don't parallelize link sending to Vectr
  plugins/Vectr/Vectr.html
  plugins/Vectr/config.yml
Owners: @privateducky, @lzimm

remove sleep
  plugins/Vectr/Vectr.html
Owners: @privateducky, @lzimm

Don't parallelize link sending to Vectr (#358)
  plugins/Vectr/Vectr.html
  plugins/Vectr/config.yml
Owners: @privateducky, @lzimm

adding new final project flag
  training/pink/final-project/5e76bb42-fced-4389-9685-7b53b05b6ddf.yml
Owners: @privateducky

updating API endpoints and converting to JS plugin
  plugins/ART/ART.js
Owners: @privateducky, @lzimm

adding more docs
  docs/operator/advanced/api.md
  docs/operator/advanced/linking.md
  docs/operator/terms/agent.md
Owners: @privateducky, @lzimm, @khyberspache

adding more docs (#360)
  docs/operator/advanced/api.md
  docs/operator/advanced/linking.md
  docs/operator/terms/agent.md
Owners: @privateducky, @lzimm, @khyberspache

Example of Man page description
  docs/procedures/collection/02de522f-7e0a-4544-8afc-0c195f400f5f.md
Owners: @privateducky, @lzimm, @khyberspache

review changes
  docs/procedures/collection/02de522f-7e0a-4544-8afc-0c195f400f5f.md
Owners: @privateducky, @lzimm, @khyberspache

updating docs
  docs/operator/advanced/api.md
Owners: @privateducky, @lzimm, @khyberspache

updating docs (#362)
  docs/operator/advanced/api.md
Owners: @privateducky, @lzimm, @khyberspache

removing stale plugins
  plugins/ART/ART.html
  plugins/Connect/Connect.html
  plugins/Connect/config.yml
Owners: @privateducky, @lzimm

change
  docs/procedures/collection/02de522f-7e0a-4544-8afc-0c195f400f5f.md
Owners: @privateducky, @lzimm, @khyberspache

double
  docs/procedures/collection/02de522f-7e0a-4544-8afc-0c195f400f5f.md
  docs/procedures/collection/0ca59b4c-426d-4ad9-a962-1e686b92552c.md
Owners: @privateducky, @lzimm, @khyberspache

Example of making Man page more obvious (#361)
  docs/procedures/collection/02de522f-7e0a-4544-8afc-0c195f400f5f.md
  docs/procedures/collection/0ca59b4c-426d-4ad9-a962-1e686b92552c.md
Owners: @privateducky, @lzimm, @khyberspache

updating plugin docs
  docs/operator/advanced/plugin.md
Owners: @privateducky, @lzimm, @khyberspache

updating plugin docs (#363)
  docs/operator/advanced/plugin.md
Owners: @privateducky, @lzimm, @khyberspache

Update plugin.md
  docs/operator/advanced/plugin.md
Owners: @privateducky, @lzimm, @khyberspache

removed ID
  ttps/collection/2fff22c9-86e4-4deb-8e4b-a196db47e429.yml
  ttps/collection/6469befa-748a-4b9c-a96d-f191fde47d89.yml
  ttps/command-and-control/23c5cb2f-3f6f-4770-b260-13edf23f5903.yml
  ttps/command-and-control/5f9001dc-e179-451f-bbd1-9fb4466d7057.yml
  ttps/credential-access/6044fb78-5d7b-43cc-9592-dcba3c4537f1.yml
  ttps/defense-evasion/3864fd22-5c63-41c9-bdbc-a66b5ffa3f5e.yml
  ttps/defense-evasion/43b3754c-def4-4699-a673-1d85648fda6a.yml
  ttps/defense-evasion/b007f6e8-4a87-4440-8888-29ceab047d9b.yml
  ttps/discovery/26c8b8b5-7b5b-4de1-a128-7d37fb14f517.yml
  ttps/discovery/27b922c1-76ca-41c7-926f-1c36cabec122.yml
  ttps/discovery/530e47c6-8592-42bf-91df-c59ffbd8541b.yml
  ttps/discovery/5a39d7ed-45c9-4a79-b581-e5fb99e24f65.yml
  ttps/discovery/6dffb878-04aa-49e5-ac6d-abf3e4eabd47.yml
  ttps/discovery/a5264956-a8b7-4b3a-92d1-294cbcfb2eef.yml
  ttps/discovery/a7a1729c-3626-4bfe-85da-8e4a5e865c6f.yml
  ttps/discovery/b480cb71-713a-42e7-ac18-cb408cb58a40.yml
  ttps/discovery/c1cd6388-3ced-48c7-a511-0434c6ba8f48.yml
  ttps/discovery/c6607391-d02c-44b5-9b13-d3492ca58599.yml
  ttps/discovery/e82f39e2-56f8-4f19-8376-b007f9ac5f8a.yml
  ttps/impact/280f0330-e862-44b9-9a57-0459ef118c8d.yml
  ttps/persistence/83a60a83-4d0c-4559-96ca-b5f45438347b.yml
  ttps/persistence/8421540e-6261-4617-8fd1-c77d8215a78f.yml
  ttps/persistence/dc6a04c2-535d-4593-b7e4-ff226a449c67.yml
  ttps/privilege-escalation/62933e77-9c3c-49be-9152-6990a654abf9.yml
  ttps/resource-development/e22b3ca7-6181-49ca-ab14-52ff9b7f49be.yml
Owners: @khyberspache

Update 6044fb78-5d7b-43cc-9592-dcba3c4537f1.yml
  ttps/credential-access/6044fb78-5d7b-43cc-9592-dcba3c4537f1.yml
Owners: @khyberspache

Update 27b922c1-76ca-41c7-926f-1c36cabec122.yml
  ttps/discovery/27b922c1-76ca-41c7-926f-1c36cabec122.yml
Owners: @khyberspache

Update 62933e77-9c3c-49be-9152-6990a654abf9.yml
  ttps/privilege-escalation/62933e77-9c3c-49be-9152-6990a654abf9.yml
Owners: @khyberspache

removing AttackSchema lookup
  plugins/ART/ART.js
Owners: @privateducky, @lzimm

updates
  training/pink/final-project/5e76bb42-fced-4389-9685-7b53b05b6ddf.yml
Owners: @privateducky

Weird code formatting in docs
  docs/operator/advanced/api.md
  docs/operator/advanced/linking.md
  docs/operator/terms/agent.md
Owners: @privateducky, @lzimm, @khyberspache

Weird code formatting in docs (#366)
  docs/operator/advanced/api.md
  docs/operator/advanced/linking.md
  docs/operator/terms/agent.md
Owners: @privateducky, @lzimm, @khyberspache

new PR
  training/pink/final-project/5e76bb42-fced-4389-9685-7b53b05b6ddf.yml
Owners: @privateducky

change
  training/pink/final-project/5e76bb42-fced-4389-9685-7b53b05b6ddf.yml
Owners: @privateducky

Sliver C2 plugin
  plugins/Sliver/Sliver.js
  plugins/Sliver/config.yml
Owners: @privateducky, @lzimm

tweak
  plugins/Sliver/Sliver.js
Owners: @privateducky, @lzimm

goldilocks docs
  docs/procedures/initial-access/71f0de84-80e5-49ff-8b20-a36e735cd69f.md
Owners: @privateducky, @lzimm, @khyberspache

goldilocks docs
  docs/procedures/resource-development/7ae93aeb-8bfd-4633-a3a9-1ec6bc393f9f.md
Owners: @privateducky, @lzimm, @khyberspache

Removed variant IDs (#365)
  ttps/collection/2fff22c9-86e4-4deb-8e4b-a196db47e429.yml
  ttps/collection/6469befa-748a-4b9c-a96d-f191fde47d89.yml
  ttps/command-and-control/23c5cb2f-3f6f-4770-b260-13edf23f5903.yml
  ttps/command-and-control/5f9001dc-e179-451f-bbd1-9fb4466d7057.yml
  ttps/defense-evasion/3864fd22-5c63-41c9-bdbc-a66b5ffa3f5e.yml
  ttps/defense-evasion/43b3754c-def4-4699-a673-1d85648fda6a.yml
  ttps/defense-evasion/b007f6e8-4a87-4440-8888-29ceab047d9b.yml
  ttps/discovery/26c8b8b5-7b5b-4de1-a128-7d37fb14f517.yml
  ttps/discovery/27b922c1-76ca-41c7-926f-1c36cabec122.yml
  ttps/discovery/530e47c6-8592-42bf-91df-c59ffbd8541b.yml
  ttps/discovery/5a39d7ed-45c9-4a79-b581-e5fb99e24f65.yml
  ttps/discovery/6dffb878-04aa-49e5-ac6d-abf3e4eabd47.yml
  ttps/discovery/a5264956-a8b7-4b3a-92d1-294cbcfb2eef.yml
  ttps/discovery/a7a1729c-3626-4bfe-85da-8e4a5e865c6f.yml
  ttps/discovery/b480cb71-713a-42e7-ac18-cb408cb58a40.yml
  ttps/discovery/c1cd6388-3ced-48c7-a511-0434c6ba8f48.yml
  ttps/discovery/c6607391-d02c-44b5-9b13-d3492ca58599.yml
  ttps/discovery/e82f39e2-56f8-4f19-8376-b007f9ac5f8a.yml
  ttps/impact/280f0330-e862-44b9-9a57-0459ef118c8d.yml
  ttps/persistence/83a60a83-4d0c-4559-96ca-b5f45438347b.yml
  ttps/persistence/8421540e-6261-4617-8fd1-c77d8215a78f.yml
  ttps/persistence/dc6a04c2-535d-4593-b7e4-ff226a449c67.yml
  ttps/resource-development/e22b3ca7-6181-49ca-ab14-52ff9b7f49be.yml
Owners: @khyberspache

.github/CODEOWNERS:

/training/	@privateducky
/payloads/	@khyberspache	
/ttps/		@khyberspache
/plugins/	@privateducky @lzimm
/docs/		@privateducky @lzimm @khyberspache
