Repository preludeorg/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @privateducky, @khyberspache, @lzimm

payload download url needs quotes for when launching VMs (#422)
  ttps/command-and-control/5f9001dc-e179-451f-bbd1-9fb4466d7057.yml
Owners: @khyberspache

Update Redirector docs
  docs/operator/advanced/redirector.md
  docs/operator/basic/professional.md
Owners: @privateducky, @lzimm, @khyberspache

Update Redirector docs (#423)
  docs/operator/advanced/redirector.md
  docs/operator/basic/professional.md
Owners: @privateducky, @lzimm, @khyberspache

Fix for training flag
  training/introduction/orientation/e573a081-0fc3-49b3-b039-cd72e3772a62.yml
Owners: @privateducky

Fix for training flag (#424)
  training/introduction/orientation/e573a081-0fc3-49b3-b039-cd72e3772a62.yml
Owners: @privateducky

Update enterprise.md
  docs/operator/basic/enterprise.md
Owners: @privateducky, @lzimm, @khyberspache

Update enterprise.md
  docs/operator/basic/enterprise.md
Owners: @privateducky, @lzimm, @khyberspache

Update enterprise.md
  docs/operator/basic/enterprise.md
Owners: @privateducky, @lzimm, @khyberspache

WIP Working on training improvements
  training/introduction/basic/1655c859-17dd-4b53-9ae6-3e895afb8cc7.yml
Owners: @privateducky

second
  training/introduction/orientation/e573a081-0fc3-49b3-b039-cd72e3772a62.yml
Owners: @privateducky

three
  training/introduction/basic/3abff28a-e1c0-498f-a273-0ab8e627d122.yml
Owners: @privateducky

WIP Working on training improvements (#425)
  training/introduction/basic/1655c859-17dd-4b53-9ae6-3e895afb8cc7.yml
  training/introduction/basic/3abff28a-e1c0-498f-a273-0ab8e627d122.yml
  training/introduction/orientation/e573a081-0fc3-49b3-b039-cd72e3772a62.yml
Owners: @privateducky

WIP further improv to training
  training/introduction/basic/3abff28a-e1c0-498f-a273-0ab8e627d122.yml
Owners: @privateducky

changes
  training/introduction/agents/2f801418-a956-43cc-8a21-504c0ce5b602.yml
  training/introduction/agents/8fb4c5f2-2be1-4f54-a330-061992cc8a4f.yml
  training/introduction/basic/1655c859-17dd-4b53-9ae6-3e895afb8cc7.yml
Owners: @privateducky

link
  training/introduction/agents/2f801418-a956-43cc-8a21-504c0ce5b602.yml
Owners: @privateducky

WIP - further improv to training (#426)
  training/introduction/agents/2f801418-a956-43cc-8a21-504c0ce5b602.yml
  training/introduction/agents/8fb4c5f2-2be1-4f54-a330-061992cc8a4f.yml
  training/introduction/basic/1655c859-17dd-4b53-9ae6-3e895afb8cc7.yml
  training/introduction/basic/3abff28a-e1c0-498f-a273-0ab8e627d122.yml
Owners: @privateducky

Fix agent training flag references
  training/introduction/advanced/16e97188-0b7e-4a45-90f6-1c9852573944.yml
  training/introduction/agents/2f801418-a956-43cc-8a21-504c0ce5b602.yml
  training/introduction/agents/7ad84c09-dfa9-431d-a273-908cdbacbae2.yml
  training/introduction/agents/8fb4c5f2-2be1-4f54-a330-061992cc8a4f.yml
  training/introduction/agents/9e7b2d08-21bd-4244-ab46-243d597e5d29.yml
  training/introduction/agents/c276c08c-2eb0-4dfe-b542-91e8409c60ab.yml
  training/introduction/basic/3abff28a-e1c0-498f-a273-0ab8e627d122.yml
  training/pink/final-project/5e76bb42-fced-4389-9685-7b53b05b6ddf.yml
Owners: @privateducky

Fix
  training/introduction/agents/7ad84c09-dfa9-431d-a273-908cdbacbae2.yml
Owners: @privateducky

Fix agent training flag references (#427)
  training/introduction/advanced/16e97188-0b7e-4a45-90f6-1c9852573944.yml
  training/introduction/agents/7ad84c09-dfa9-431d-a273-908cdbacbae2.yml
  training/introduction/agents/8fb4c5f2-2be1-4f54-a330-061992cc8a4f.yml
  training/introduction/agents/9e7b2d08-21bd-4244-ab46-243d597e5d29.yml
  training/introduction/agents/c276c08c-2eb0-4dfe-b542-91e8409c60ab.yml
  training/pink/final-project/5e76bb42-fced-4389-9685-7b53b05b6ddf.yml
Owners: @privateducky

Moving PROD to DEV (#414)
  ttps/resource-development/e22b3ca7-6181-49ca-ab14-52ff9b7f49be.yml
Owners: @khyberspache

adding fix for flag
  training/introduction/agents/7ad84c09-dfa9-431d-a273-908cdbacbae2.yml
Owners: @privateducky

adding fix for flag (#428)
  training/introduction/agents/7ad84c09-dfa9-431d-a273-908cdbacbae2.yml
Owners: @privateducky

Final fixes for the 3 pneuma instances flag
  training/introduction/agents/7ad84c09-dfa9-431d-a273-908cdbacbae2.yml
Owners: @privateducky

Final fixes for the 3 pneuma instances flag (#429)
  training/introduction/agents/7ad84c09-dfa9-431d-a273-908cdbacbae2.yml
Owners: @privateducky

updating redirector doc
  docs/operator/advanced/protect.md
  docs/operator/advanced/redirector.md
  docs/operator/basic/enterprise.md
Owners: @privateducky, @lzimm, @khyberspache

Update redirector.md
  docs/operator/advanced/redirector.md
Owners: @privateducky, @lzimm, @khyberspache

updating redirector doc (#430)
  docs/operator/advanced/redirector.md
Owners: @privateducky, @lzimm, @khyberspache

WIP updates to training flag
  training/introduction/advanced/0b044323-bf6b-4856-8d70-372942983aab.yml
  training/introduction/agents/8fb4c5f2-2be1-4f54-a330-061992cc8a4f.yml
  training/introduction/agents/9e7b2d08-21bd-4244-ab46-243d597e5d29.yml
  training/introduction/agents/c276c08c-2eb0-4dfe-b542-91e8409c60ab.yml
  training/introduction/agents/ff6a1861-edf1-41a1-b00f-7a3d3ed58545.yml
Owners: @privateducky

change
  training/introduction/advanced/0b044323-bf6b-4856-8d70-372942983aab.yml
Owners: @privateducky

more changes
  training/introduction/advanced/2a729508-8410-4ea8-924d-a6ddd14fd64d.yml
  training/introduction/advanced/2aac8660-191d-4617-a0b4-a02de8d19364.yml
  training/introduction/advanced/5dcf668b-b3ad-4ee5-b595-c716baf79b2c.yml
  training/introduction/advanced/9112f8d6-4ee1-4582-bd55-d42519cec783.yml
  training/pink/final-project/5e76bb42-fced-4389-9685-7b53b05b6ddf.yml
Owners: @privateducky

remove references to ranges in API docs
  docs/operator/advanced/api.md
Owners: @privateducky, @lzimm, @khyberspache

more->addtional
  docs/operator/advanced/api.md
Owners: @privateducky, @lzimm, @khyberspache

add example get payloads
  docs/operator/advanced/api.md
Owners: @privateducky, @lzimm, @khyberspache

add example get payloads (#433)
  docs/operator/advanced/api.md
Owners: @privateducky, @lzimm, @khyberspache

remove references to ranges in API docs (#432)
  docs/operator/advanced/api.md
Owners: @privateducky, @lzimm, @khyberspache

agentlimit
  docs/operator/terms/agent.md
  training/introduction/orientation/2080e0e3-f107-418d-8a9f-773fe2d7fb04.yml
Owners: @privateducky, @lzimm, @khyberspache

connect
  training/introduction/advanced/16e97188-0b7e-4a45-90f6-1c9852573944.yml
Owners: @privateducky

Updates to training flag and agent doc (#431)
  docs/operator/terms/agent.md
  training/introduction/advanced/0b044323-bf6b-4856-8d70-372942983aab.yml
  training/introduction/advanced/16e97188-0b7e-4a45-90f6-1c9852573944.yml
  training/introduction/advanced/2a729508-8410-4ea8-924d-a6ddd14fd64d.yml
  training/introduction/advanced/2aac8660-191d-4617-a0b4-a02de8d19364.yml
  training/introduction/advanced/5dcf668b-b3ad-4ee5-b595-c716baf79b2c.yml
  training/introduction/advanced/9112f8d6-4ee1-4582-bd55-d42519cec783.yml
  training/introduction/agents/8fb4c5f2-2be1-4f54-a330-061992cc8a4f.yml
  training/introduction/agents/9e7b2d08-21bd-4244-ab46-243d597e5d29.yml
  training/introduction/agents/c276c08c-2eb0-4dfe-b542-91e8409c60ab.yml
  training/introduction/agents/ff6a1861-edf1-41a1-b00f-7a3d3ed58545.yml
  training/introduction/orientation/2080e0e3-f107-418d-8a9f-773fe2d7fb04.yml
  training/pink/final-project/5e76bb42-fced-4389-9685-7b53b05b6ddf.yml
Owners: @privateducky, @lzimm, @khyberspache

Update 3f7f0f30-2af3-43ef-bd89-9f28d5e3b067.md
  docs/procedures/exfiltration/3f7f0f30-2af3-43ef-bd89-9f28d5e3b067.md
Owners: @privateducky, @lzimm, @khyberspache

Create 3f7f0f30-2af3-43ef-bd89-9f28d5e3b067.md (#417)
  docs/procedures/exfiltration/3f7f0f30-2af3-43ef-bd89-9f28d5e3b067.md
Owners: @privateducky, @lzimm, @khyberspache

.github/CODEOWNERS:

/training/	@privateducky
/payloads/	@khyberspache	
/ttps/		@khyberspache
/plugins/	@privateducky @lzimm
/docs/		@privateducky @lzimm @khyberspache
