Repository preludeorg/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @privateducky, @khyberspache, @lzimm

updates
  training/pink/week-3/e51816a2-1172-4eeb-916a-54845d12d265.yml
Owners: @privateducky

flag updates (#444)
  training/pink/week-3/e51816a2-1172-4eeb-916a-54845d12d265.yml
Owners: @privateducky

Fixing JSON ttp fact format
  ttps/README.md
  ttps/credential-access/fd8f1dfe-9ab2-4a60-9f75-810472d9bb22.yml
Owners: @khyberspache

Fixing JSON ttp fact format (#445)
  ttps/README.md
  ttps/credential-access/fd8f1dfe-9ab2-4a60-9f75-810472d9bb22.yml
Owners: @khyberspache

Adding missing module imports for Sliver plugin
  plugins/Sliver/Sliver.js
Owners: @privateducky, @lzimm

Adding missing module imports for Sliver plugin (#446)
  plugins/Sliver/Sliver.js
Owners: @privateducky, @lzimm

Fixing Pink Badge verification
  training/pink/registration/ed2e1bae-5f2f-429d-9760-4dea63d650e1.yml
Owners: @privateducky

Tweak to use the new certificate loader
  plugins/HTTPS/HTTPS.js
Owners: @privateducky, @lzimm

Pink Badge Auth fixes
  training/pink/registration/ed2e1bae-5f2f-429d-9760-4dea63d650e1.yml
Owners: @privateducky

Fixing Pink Badge verification (#447)
  training/pink/registration/ed2e1bae-5f2f-429d-9760-4dea63d650e1.yml
Owners: @privateducky

Tweak to use the new certificate loader (#449)
  plugins/HTTPS/HTTPS.js
Owners: @privateducky, @lzimm

spacing
  plugins/ART/ART.js
Owners: @privateducky, @lzimm

tweak names
  plugins/ART/ART.js
Owners: @privateducky, @lzimm

fetchOperator
  plugins/ART/ART.js
Owners: @privateducky, @lzimm

cleaner
  plugins/ART/ART.js
Owners: @privateducky, @lzimm

re-add conditional
  plugins/ART/ART.js
Owners: @privateducky, @lzimm

Major refactor to the art plugin
  plugins/ART/ART.js
Owners: @privateducky, @lzimm

clearer names
  plugins/ART/ART.js
Owners: @privateducky, @lzimm

more readability
  plugins/ART/ART.js
Owners: @privateducky, @lzimm

More shuffling and cleaner code paths
  plugins/ART/ART.js
Owners: @privateducky, @lzimm

updating to use requests local operator fetch
  plugins/ART/ART.js
Owners: @privateducky, @lzimm

Stubbing out ART refactor
  plugins/ART/ART.js
Owners: @privateducky, @lzimm

Major refactor to the ART plugin (#413)
  plugins/ART/ART.js
Owners: @privateducky, @lzimm

Defaults for cases
  plugins/ART/ART.js
Owners: @privateducky, @lzimm

Defaults for cases (#450)
  plugins/ART/ART.js
Owners: @privateducky, @lzimm

Remove broken ART plugin code for 1.5.3
  plugins/ART/ART.js
  plugins/ART/config.yml
Owners: @privateducky, @lzimm

Update ART.js
  plugins/ART/ART.js
Owners: @privateducky, @lzimm

Update ART.js
  plugins/ART/ART.js
Owners: @privateducky, @lzimm

fetch requires content type to work with api (#452)
  plugins/ART/ART.js
Owners: @privateducky, @lzimm

Adding chains yml files
  chains/a00a1c4f-771c-4c0f-bf4b-149dd087e835.yml
  chains/bdf01868-33fb-494c-a87c-59332ca8762a.yml
  chains/e8200002-22d9-4394-b73e-e0f5b74e1382.yml
Owners: none

Adding chains yml files (#453)
  chains/a00a1c4f-771c-4c0f-bf4b-149dd087e835.yml
  chains/bdf01868-33fb-494c-a87c-59332ca8762a.yml
  chains/e8200002-22d9-4394-b73e-e0f5b74e1382.yml
Owners: none

ART plugin now attaches and detaches an outpost
  plugins/ART/ART.js
Owners: @privateducky, @lzimm

specifying a url
  plugins/ART/ART.js
Owners: @privateducky, @lzimm

what
  plugins/ART/ART.js
Owners: @privateducky, @lzimm

add BITSadmin docs
  docs/procedures/command-and-control/3f3f9012-6f54-4fc3-973d-0c8ec88ba4c1.yml
Owners: @privateducky, @lzimm, @khyberspache

move file hunter to community
  chains/3e42a795-d1a7-4bb2-a773-8c424ba477b8.yml
Owners: none

move file hunter to community (#456)
  chains/3e42a795-d1a7-4bb2-a773-8c424ba477b8.yml
Owners: none

updating docs
  docs/operator/plugins/https.md
  docs/operator/plugins/sliver.md
Owners: @privateducky, @lzimm, @khyberspache

updating docs (#457)
  docs/operator/plugins/https.md
  docs/operator/plugins/sliver.md
Owners: @privateducky, @lzimm, @khyberspache

minor updates
  docs/operator/advanced/links.md
Owners: @privateducky, @lzimm, @khyberspache

.github/CODEOWNERS:

/training/	@privateducky
/payloads/	@khyberspache	
/ttps/		@khyberspache
/plugins/	@privateducky @lzimm
/docs/		@privateducky @lzimm @khyberspache
